<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-7">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="row">
                            <div class="col-md-6">
                                    <h2>Lista de usuarios del sistema</h2>
                            </div>
                            <div class="col-md-6 text-right">
                                    <div class="mail-tools">
                                            <button class="btn btn-default btn-labeled" ng-click="vm.nuevo_usuario()"><span class="btn-label"><i class="fa fa-plus"></i></span> Agregar nuevo usuario</button>
                                    </div>
                            </div>
                    </div>
                </div>
                <div class="ibox-content">
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group" style="margin-top:16px;">
                                <input type="text" ng-teclaenter="vm.muestraResultadosBusqueda()" placeholder="Nombre del usuario" class="input form-control" ng-model="vm.nombre_buscar" required>
                                        <span class="input-group-btn">
                                                <button class="btn btn-success btn-labeled" ng-click="vm.limpiaBusqueda()" ng-show="vm.mostrarbtnLimpiar"><span class="btn-label"><i class="fa fa-trash-o"></i></span> Limpiar</button>
                                                <button class="btn btn-default btn-labeled" ng-click="vm.muestraResultadosBusqueda()"><span class="btn-label"><i class="fa fa-search"></i></span> Buscar</button>

                                        </span>
                            </div>
                        </div>
                    </div>
                  
                    <br>
                            <table class="tablaDatos table table-condensed no-footer">
                              <thead>
                                <tr>
                                    <th>Unidad</th>
                                    <th>nombre</th>
                                    <th>Puesto</th>
                                    <th>Perfil</th>
                                    <th>Activo</th>
                                </tr>
                              </thead>
                             <tbody>
                                <tr ng-repeat="usuario in vm.usuarios" ng-click="vm.muestraDatosUsuarioActual(usuario)" ng-class="{seleccion:$index==vm.tablaListaUsuarios.fila_seleccionada}" class="pointer">
                                    <td> {{usuario.unidad_pertenece.nombre}}</td>
                                    <td> {{usuario.nombre}}</td>
                                    <td> {{usuario.puesto}}</td>
                                    <td> {{usuario.perfil[0].description}}</td>
                                    <td class="client-status"><span class="label label-{{usuario.activo === true ? 'primary' : 'warning'}}">{{usuario.activo === true ? 'S&iacute;' : 'No'}}</span></td>
                                </tr>
                              </tbody>
                            </table>

                            <tabla-paginacion config="vm.tablaListaUsuarios" paginar="vm.cambiarPagina()"></tabla-paginacion>

                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="ibox ">
                <div class="ibox-content" style="height:650px;">
                    <div class="tab-content">
                        <div class="tab-pane active" ng-show="vm.client == 1" ng-init="vm.client = 1">
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <p>
                                                <h2>Seleccione un registro para ver los detalles</h2>
                                            </p>
                                        </div>
                                    </div>
                        </div>
                        <div class="tab-pane active" ng-show="vm.client == 2">
                                    <div class="panel blank-panel">
                                                        <ul class="list-group clear-list">
                                                            <li class="list-group-item fist-item">
                                                                <span class="pull-right"> {{vm.UsuarioSeleccionado.nombre}} </span>
                                                                Nombre
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="pull-right"> {{vm.UsuarioSeleccionado.email}} </span>
                                                                Correo electr&oacute;nico
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="pull-right"> {{vm.UsuarioSeleccionado.unidad_pertenece.nombre}} </span>
                                                                Unidad
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="pull-right"> {{vm.UsuarioSeleccionado.puesto}} </span>
                                                                Puesto
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="pull-right"> {{vm.UsuarioSeleccionado.username}} </span>
                                                                Usuario
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="pull-right"> {{vm.UsuarioSeleccionado.perfil[0].description}} </span>
                                                                Perfil de usuario
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="pull-right label label-{{vm.UsuarioSeleccionado.activo === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.activo === true ? 'S&iacute;' : 'No'}}</span>
                                                                Usuario activo
                                                            </li>
                                                        </ul>
                                                        <br>
                                                        <strong ng-show="(vm.UsuarioSeleccionado.idUnidadAdmtva == 1)">Configuraci&oacute;n de avisos en los procesos del sistema</strong>
                                                        <tabset ng-show="(vm.UsuarioSeleccionado.idUnidadAdmtva == 1)" style="padding-top: 25px;">
                                                            <tab heading="PTC">
                                                                <ul class="list-group clear-list">
                                                                    <li class="list-group-item fist-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoEnvioPTC === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoEnvioPTC === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Recibir el aviso de env&iacute;o del PTC a revisi&oacute;n
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRechazoPTC === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRechazoPTC === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Recibir el aviso de rechazo del PTC
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRevisonPTC === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRevisonPTC === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Recibir el aviso de revisi&oacute;n realizada del PTC
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoAceptacionPTC === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoAceptacionPTC === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Recibir el aviso de aceptaci&oacute;n del PTC
                                                                    </li>
                                                                </ul>
                                                            </tab>
                                                            <tab heading="Preapertura Cursos">
                                                                <ul class="list-group clear-list">
                                                                    <li class="list-group-item fist-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoEnvioPreapCurso === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoEnvioPreapCurso === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Recibir el aviso de env&iacute;o de la pre-apertura a revisi&oacute;n
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRechazoPreapCurso === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRechazoPreapCurso === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Recibir el aviso de rechazo de la pre-apertura
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRevisionPreapCurso === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRevisionPreapCurso === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Recibir el aviso de revisi&oacute;n realizada de la pre-apertura
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoAceptacionPreapCurso === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoAceptacionPreapCurso === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Recibir el aviso de aceptaci&oacute;n de la pre-apertura
                                                                    </li>
                                                                </ul>
                                                            </tab>
                                                            <tab heading="Cursos Activos">
                                                                <ul class="list-group clear-list">
                                                                    <li class="list-group-item fist-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoMinimosCurso === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoMinimosCurso === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Recibir el aviso de cumplimiento m&iacute;nimo de inscritos pagados
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoCancelacionCurso === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoCancelacionCurso === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Recibir el aviso de cancelaci&oacute;n del curso
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoReprogCurso === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoReprogCurso === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Recibir el aviso de reprogramaci&oacute;n del curso
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoTerminacionCurso === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoTerminacionCurso === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Recibir el aviso de terminaci&oacute;n del curso
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoCierreCurso === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoCierreCurso === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Recibir el aviso de cierre del curso
                                                                    </li>
                                                                </ul>
                                                            </tab>
                                                            <tab heading="Evaluaciones">
                                                                <ul class="list-group clear-list">
                                                                    <li class="list-group-item fist-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoEnvioEvaluacion === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoEnvioEvaluacion === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Recibir el aviso de env&iacute;o de la evaluaci&oacute;n a revisi&oacute;n
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRechazoEvaluacion === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRechazoEvaluacion === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Recibir el aviso de rechazo de la evaluaci&oacute;n
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoAceptacionEvaluacion === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoAceptacionEvaluacion === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Recibir el aviso de aceptaci&oacute;n de la evaluaci&oacute;n
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoCierreEvaluacion === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoCierreEvaluacion === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Recibir el aviso de cierre de la evaluaci&oacute;n
                                                                    </li>
                                                                </ul>
                                                            </tab>
                                                        </tabset>

                                                        <div class="row">
                                                            <div class="col-md-12 text-center">
                                                                <div class="col-md-6">
                                                                    <button type="button" ng-click="vm.edita_datos_usuario(vm.UsuarioSeleccionado)" class="btn btn-primary btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-pencil"></i></span> Editar usuario</button>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <button type="button" ng-click="vm.elimina_usuario(vm.UsuarioSeleccionado)" class="btn btn-danger btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-trash-o"></i></span> Eliminar usuario</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                    </div>

                                </div>
                        </div> <!-- client == 2 -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
