<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-7">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="row">
                            <div class="col-md-6">
                                    <h2>Lista de usuarios del sistema</h2>
                            </div>
                            <div class="col-md-6 text-right">
                                    <div class="mail-tools">
                                            <button class="btn btn-default btn-labeled" ng-click="vm.nuevo_usuario()"><span class="btn-label"><i class="fa fa-plus"></i></span> Agregar nuevo usuario</button>
                                    </div>
                            </div>
                    </div>
                </div>
                <div class="ibox-content">
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group" style="margin-top:16px;">
                                <input type="text" ng-teclaenter="vm.muestraResultadosBusqueda()" placeholder="Nombre del usuario" class="input form-control" ng-model="vm.nombre_buscar" required>
                                        <span class="input-group-btn">
                                                <button class="btn btn-success btn-labeled" ng-click="vm.limpiaBusqueda()" ng-show="vm.mostrarbtnLimpiar"><span class="btn-label"><i class="fa fa-trash-o"></i></span> Limpiar</button>
                                                <button class="btn btn-default btn-labeled" ng-click="vm.muestraResultadosBusqueda()"><span class="btn-label"><i class="fa fa-search"></i></span> Buscar</button>

                                        </span>
                            </div>
                        </div>
                    </div>
                  
                    <br>
                            <table class="tablaDatos table table-condensed no-footer">
                              <thead>
                                <tr>
                                    <th>Unidad</th>
                                    <th>nombre</th>
                                    <th>Puesto</th>
                                    <th>Perfil</th>
                                    <th>Activo</th>
                                </tr>
                              </thead>
                             <tbody>
                                <tr ng-repeat="usuario in vm.usuarios" ng-click="vm.muestraDatosUsuarioActual(usuario)" ng-class="{seleccion:$index==vm.tablaListaUsuarios.fila_seleccionada}" class="pointer">
                                    <td> {{usuario.unidad_pertenece.nombre}}</td>
                                    <td> {{usuario.nombre}}</td>
                                    <td> {{usuario.puesto}}</td>
                                    <td> {{usuario.perfil[0].description}}</td>
                                    <td class="client-status"><span class="label label-{{usuario.activo === true ? 'primary' : 'warning'}}">{{usuario.activo === true ? 'S&iacute;' : 'No'}}</span></td>
                                </tr>
                              </tbody>
                            </table>

                            <tabla-paginacion config="vm.tablaListaUsuarios" paginar="vm.cambiarPagina()"></tabla-paginacion>

                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="ibox ">
                <div class="ibox-content">

                                    <div class="panel blank-panel" style="height:580px;">
                                            <tabset>                                                
                                                <tab heading="Datos generales">
                                                        <ul class="list-group clear-list">
                                                            <li class="list-group-item fist-item">
                                                                <span class="pull-right"> {{vm.UsuarioSeleccionado.nombre}} </span>
                                                                Nombre
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="pull-right"> {{vm.UsuarioSeleccionado.email}} </span>
                                                                Correo electr&oacute;nico
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="pull-right"> {{vm.UsuarioSeleccionado.unidad_pertenece.nombre}} </span>
                                                                Unidad
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="pull-right"> {{vm.UsuarioSeleccionado.puesto}} </span>
                                                                Puesto
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="pull-right"> {{vm.UsuarioSeleccionado.username}} </span>
                                                                Usuario
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="pull-right"> {{vm.UsuarioSeleccionado.perfil[0].description}} </span>
                                                                Perfil de usuario
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="pull-right label label-{{vm.UsuarioSeleccionado.activo === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.activo === true ? 'S&iacute;' : 'No'}}</span>
                                                                Usuario activo
                                                            </li>
                                                        </ul>
                                                </tab>
                                                <tab heading="Configuraci&oacute;n de avisos">

                                                        <p ng-show="(vm.UsuarioSeleccionado.idUnidadAdmtva > 1)" style="padding-top: 25px;">No aplican los avisos a este usuario</p>
                                                        <tabset ng-show="(vm.UsuarioSeleccionado.idUnidadAdmtva == 1)" style="padding-top: 15px;">
                                                            
                                                            <tab heading="PTC">
                                                                <ul class="list-group clear-list">
                                                                    <li class="list-group-item fist-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoEnvioPTC === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoEnvioPTC === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de env&iacute;o del PTC a revisi&oacute;n
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRevisonPTCProgr === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRevisonPTCProgr === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de revisi&oacute;n del PTC por parte de programas
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRechazoPTCProgr === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRechazoPTCProgr === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de rechazo del PTC por parte de programas
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRevisonPTCAcad === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRevisonPTCAcad === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de revisi&oacute;n del PTC por parte de dir. Acad&eacute;mica
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRechazoPTCAcad === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRechazoPTCAcad === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de rechazo del PTC por parte de dir. Acad&eacute;mica
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRevisonPTCPlan === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRevisonPTCPlan === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de revisi&oacute;n del PTC por parte de Planeaci&oacute;n
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRechazoPTCPlan === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRechazoPTCPlan === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de rechazo del PTC por parte de Planeaci&oacute;n
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRevisionPTCGral === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRevisionPTCGral === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de revisi&oacute;n del PTC por parte de dir. Gral
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRechazoPTCGral === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRechazoPTCGral === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de rechazo del PTC por parte de dir. Gral
                                                                    </li>
                                                                </ul>
                                                            </tab>
                                                            <tab heading="Preapertura Cursos">
                                                                <ul class="list-group clear-list">
                                                                    <li class="list-group-item fist-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoEnvioPreapCurso === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoEnvioPreapCurso === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de env&iacute;o del curso a revisi&oacute;n
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRevisionPreapCursoProgr === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRevisionPreapCursoProgr === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de revisi&oacute;n del curso por parte de programas
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRechazoPreapCursoProgr === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRechazoPreapCursoProgr === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de rechazo del curso por parte de programas
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRevisionPreapCursoAcad === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRevisionPreapCursoAcad === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de revisi&oacute;n del curso por parte de dir. Acad&eacute;mica
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRechazoPreapCursoAcad === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRechazoPreapCursoAcad === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de rechazo del curso por parte de dir. Acad&eacute;mica
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRevisionPreapCursoPlan === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRevisionPreapCursoPlan === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de revisi&oacute;n del curso por parte de Planeaci&oacute;n
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRechazoPreapCursoPlan === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRechazoPreapCursoPlan === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de rechazo del curso por parte de Planeaci&oacute;n
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRevisionPreapCursoGral === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRevisionPreapCursoGral === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de revisi&oacute;n del curso por parte de dir. Gral
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRechazoPreapCursoGral === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRechazoPreapCursoGral === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de rechazo del curso por parte de dir. Gral
                                                                    </li>
                                                                </ul>
                                                            </tab>
                                                            <tab heading="Cursos Activos">
                                                                <ul class="list-group clear-list">
                                                                    <li class="list-group-item fist-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoMinimoInscritosCurso === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoMinimoInscritosCurso === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de cumplimiento m&iacute;nimo de inscritos
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoMinimoPagadosCurso === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoMinimoPagadosCurso === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de cumplimiento m&iacute;nimo de inscritos pagados
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoReversionPagadosCurso === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoReversionPagadosCurso === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de reversi&oacute;n de inscritos
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoCancelacionCurso === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoCancelacionCurso === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de cancelaci&oacute;n del curso
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoReprogCurso === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoReprogCurso === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de reprogramaci&oacute;n del curso
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoTerminacionCurso === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoTerminacionCurso === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de terminaci&oacute;n del curso
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoCierreCurso === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoCierreCurso === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de cierre del curso
                                                                    </li>
                                                                </ul>
                                                            </tab>
                                                            <tab heading="Evaluaciones">
                                                                <ul class="list-group clear-list">
                                                                    <li class="list-group-item fist-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoEnvioEvaluacion === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoEnvioEvaluacion === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de env&iacute;o de la evaluaci&oacute;n a revisi&oacute;n
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRevisionEvaluacionProgr === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRevisionEvaluacionProgr === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de revisi&oacute;n de la evaluaci&oacute;n por parte de programas
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRechazoEvaluacionProgr === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRechazoEvaluacionProgr === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de rechazo de la evaluaci&oacute;n por parte de programas
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRevisionEvaluacionAcad === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRevisionEvaluacionAcad === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de revisi&oacute;n de la evaluaci&oacute;n por parte de dir. Acad&eacute;mica
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRechazoEvaluacionAcad === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRechazoEvaluacionAcad === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de rechazo de la evaluaci&oacute;n por parte de dir. Acad&eacute;mica
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRevisionEvaluacionPlan === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRevisionEvaluacionPlan === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de revisi&oacute;n de la evaluaci&oacute;n por parte de Planeaci&oacute;n
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRechazoEvaluacionPlan === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRechazoEvaluacionPlan === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de rechazo de la evaluaci&oacute;n por parte de Planeaci&oacute;n
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRevisionEvaluacionGral === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRevisionEvaluacionGral === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de revisi&oacute;n de la evaluaci&oacute;n por parte de dir. Gral
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoRechazoEvaluacionGral === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoRechazoEvaluacionGral === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de rechazo de la evaluaci&oacute;n por parte de dir. Gral
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoCancelacionEvaluacion === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoCancelacionEvaluacion === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de cancelaci&oacute;n de la evaluaci&oacute;n
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right label label-{{vm.UsuarioSeleccionado.avisoCierreEvaluacion === true ? 'primary' : 'warning'}}">{{vm.UsuarioSeleccionado.avisoCierreEvaluacion === true ? 'S&iacute;' : 'No'}}</span>
                                                                        Aviso de cierre de la evaluaci&oacute;n
                                                                    </li>
                                                                </ul>
                                                            </tab>
                                                        </tabset>

                                                </tab>
                                            </tabset>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <div class="col-md-6">
                                                <button type="button" ng-click="vm.edita_datos_usuario(vm.UsuarioSeleccionado)" class="btn btn-primary btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-pencil"></i></span> Editar usuario</button>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="button" ng-click="vm.elimina_usuario(vm.UsuarioSeleccionado)" class="btn btn-danger btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-trash-o"></i></span> Eliminar usuario</button>
                                            </div>
                                        </div>
                                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
