<div class="inmodal">
      <div class="modal-header">
          <h4 class="modal-title"> Datos del usuario</h4>
      </div>
      <div class="modal-body" style="background: #fff;">
            <form name="form_datos" class="form-horizontal">

                  <div class="form-group">
                      <label class="col-sm-1 control-label">Unidad</label>
                      <div class="col-sm-11">
                          <div class="row">
                              <div class="col-md-5">
                                  <select class="form-control m-b" 
                                      ng-model="vm.unidadSelecccionada"
                                      ng-change="vm.muestraPerfilesUnidad()"
                                      ng-options="unidad as unidad.nombre for unidad in vm.listaUnidades" required>
                                  </select>
                              </div>
                              <div class="col-md-1 text-right">
                                  <label class="control-label">Perfil</label>
                              </div>
                              <div class="col-md-5">
                                  <select class="form-control m-b" 
                                      ng-model="vm.perfilSeleccionado"
                                      ng-options="rol as rol.description for rol in vm.listaRoles" required>
                                  </select>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="hr-line-dashed"></div>

                  <div class="form-group">
                      <label class="col-sm-1 control-label">Nombre</label>
                      <div class="col-sm-11">
                          <div class="row">
                              <div class="col-md-5">
                                  <input type="text" class="form-control" ng-model="vm.usuarioEditar.nombre" required>
                              </div>
                              <div class="col-md-1 text-right">
                                  <label class="control-label">Puesto</label>
                              </div>
                              <div class="col-md-6">
                                  <input type="text" class="form-control" ng-model="vm.usuarioEditar.puesto" required>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="col-sm-1 control-label">Usuario</label>
                      <div class="col-sm-11">
                          <div class="row">
                              <div class="col-md-4">
                                  <input type="text" class="form-control" ng-model="vm.usuarioEditar.username" required>
                              </div>
                              <div class="col-md-1" style="width: 85px;">
                                  <label class="control-label">Password</label>
                              </div>
                              <div class="col-md-5">
                                  <input type="text" class="form-control" ng-model="vm.usuarioEditar.password">
                              </div>
                          </div>
                      <span class="help-block m-b-none">(Si no desea cambiar el password, dejar la casilla correspondiente en blanco)</span>
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="col-sm-1 control-label">Email</label>
                      <div class="col-sm-11">
                          <div class="row">
                              <div class="col-md-6">
                                  <input type="email" class="form-control" ng-model="vm.usuarioEditar.email" required>
                              </div>
                              <div class="col-md-2 text-right">
                                  <label class="control-label">Usuario activo</label>
                              </div>
                              <div class="col-md-4">
                                  <input ng-if="vm.usuarioEditar.activo!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.activo"/>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="hr-line-dashed"></div>
                  <div class="form-group" ng-show="(vm.unidadSelecccionada.idUnidadAdmtva == 1)">
                      <div class="col-sm-10"><p class="form-control-static"><strong>Configuraci&oacute;n de avisos en los procesos del sistema</strong></p></div>
                  </div>

                  <tabset ng-show="(vm.unidadSelecccionada.idUnidadAdmtva == 1)">
                      <tab heading="Eventos del PTC">
                          <br>
                          <div class="form-group">
                              <label class="col-sm-3 control-label">Aviso de env&iacute;o del PTC a revisi&oacute;n</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoEnvioPTC!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoEnvioPTC"/>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 control-label">Aviso de revisi&oacute;n del PTC por parte de programas</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoRevisonPTCProgr!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoRevisonPTCProgr"/>
                              </div>
                              <label class="col-sm-2 control-label">Aviso de revisi&oacute;n del PTC por parte de dir. Acad&eacute;mica</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoRevisonPTCAcad!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoRevisonPTCAcad"/>
                              </div>
                              <label class="col-sm-2 control-label">Aviso de revisi&oacute;n del PTC por parte de Planeaci&oacute;n</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoRevisonPTCPlan!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoRevisonPTCPlan"/>
                              </div>
                              <label class="col-sm-2 control-label">Aviso de revisi&oacute;n del PTC por parte de dir. Gral</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoRevisionPTCGral!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoRevisionPTCGral"/>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 control-label">Aviso de rechazo del PTC por parte de programas</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoRechazoPTCProgr!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoRechazoPTCProgr"/>
                              </div>
                              <label class="col-sm-2 control-label">Aviso de rechazo del PTC por parte de dir. Acad&eacute;mica</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoRechazoPTCAcad!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoRechazoPTCAcad"/>
                              </div>
                              <label class="col-sm-2 control-label">Aviso de rechazo del PTC por parte de Planeaci&oacute;n</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoRechazoPTCPlan!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoRechazoPTCPlan"/>
                              </div>
                              <label class="col-sm-2 control-label">Aviso de rechazo del PTC por parte de dir. Gral</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoRechazoPTCGral!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoRechazoPTCGral"/>
                              </div>
                          </div>

                      </tab>

                      <tab heading="Eventos Preapertura Cursos">
                          <br>
                          <div class="form-group">
                              <label class="col-sm-3 control-label">Aviso de env&iacute;o del curso a revisi&oacute;n</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoEnvioPreapCurso!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoEnvioPreapCurso"/>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 control-label">Aviso de revisi&oacute;n del curso por parte de programas</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoRevisionPreapCursoProgr!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoRevisionPreapCursoProgr"/>
                              </div>
                              <label class="col-sm-2 control-label">Aviso de revisi&oacute;n del curso por parte de dir. Acad&eacute;mica</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoRevisionPreapCursoAcad!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoRevisionPreapCursoAcad"/>
                              </div>
                              <label class="col-sm-2 control-label">Aviso de revisi&oacute;n del curso por parte de Planeaci&oacute;n</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoRevisionPreapCursoPlan!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoRevisionPreapCursoPlan"/>
                              </div>
                              <label class="col-sm-2 control-label">Aviso de revisi&oacute;n del curso por parte de dir. Gral</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoRevisionPreapCursoGral!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoRevisionPreapCursoGral"/>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 control-label">Aviso de rechazo del curso por parte de programas</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoRechazoPreapCursoProgr!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoRechazoPreapCursoProgr"/>
                              </div>
                              <label class="col-sm-2 control-label">Aviso de rechazo del curso por parte de dir. Acad&eacute;mica</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoRechazoPreapCursoAcad!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoRechazoPreapCursoAcad"/>
                              </div>
                              <label class="col-sm-2 control-label">Aviso de rechazo del curso por parte de Planeaci&oacute;n</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoRechazoPreapCursoPlan!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoRechazoPreapCursoPlan"/>
                              </div>
                              <label class="col-sm-2 control-label">Aviso de rechazo del curso por parte de dir. Gral</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoRechazoPreapCursoGral!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoRechazoPreapCursoGral"/>
                              </div>
                          </div>
                      </tab>
                      <tab heading="Eventos Cursos Activos">
                          <br>
                          <div class="form-group">
                              <label class="col-sm-3 control-label">Aviso de cumplimiento m&iacute;nimo de inscritos</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoMinimoInscritosCurso!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoMinimoInscritosCurso"/>
                              </div>
                              <label class="col-sm-3 control-label">Aviso de cancelaci&oacute;n del curso</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoCancelacionCurso!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoCancelacionCurso"/>
                              </div>
                              <label class="col-sm-3 control-label">Aviso de terminaci&oacute;n del curso</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoTerminacionCurso!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoTerminacionCurso"/>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-3 control-label">Aviso de cumplimiento m&iacute;nimo de inscritos pagados</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoMinimoPagadosCurso!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoMinimoPagadosCurso"/>
                              </div>
                              <label class="col-sm-3 control-label">Aviso de reprogramaci&oacute;n del curso</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoReprogCurso!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoReprogCurso"/>
                              </div>
                              <label class="col-sm-3 control-label">Aviso de cierre del curso</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoCierreCurso!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoCierreCurso"/>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-3 control-label">Aviso de reversi&oacute;n de inscritos</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoReversionPagadosCurso!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoReversionPagadosCurso"/>
                              </div>
                          </div>
                      </tab>
                      <tab heading="Eventos Evaluaciones">
                          <br>
                          <div class="form-group">
                              <label class="col-sm-5 control-label">Aviso de env&iacute;o de la evaluaci&oacute;n a revisi&oacute;n</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoEnvioEvaluacion!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoEnvioEvaluacion"/>
                              </div>
                              <label class="col-sm-4 control-label">Aviso de rechazo de la evaluaci&oacute;n</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoRechazoEvaluacion!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoRechazoEvaluacion"/>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-5 control-label">Aviso de aceptaci&oacute;n de la evaluaci&oacute;n</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoAceptacionEvaluacion!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoAceptacionEvaluacion"/>
                              </div>
                              <label class="col-sm-4 control-label">Aviso de cierre de la evaluaci&oacute;n</label>
                              <div class="col-sm-1">
                                  <input ng-if="vm.usuarioEditar.avisoCierreEvaluacion!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.usuarioEditar.avisoCierreEvaluacion"/>
                              </div>
                          </div>
                      </tab>
                  </tabset>

            </form>

      </div>
      <div class="modal-footer">

          <div class="row">
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
                  <div ng-show="vm.msg_password" class="alert alert-danger" style="padding: 4px; margin-bottom: 0; text-align: center;">{{vm.txt_msg_password}}</div>
                  <div class="sk-spinner sk-spinner-three-bounce" ng-show="vm.mostrarSpiner">
                      <div class="sk-bounce1"></div>
                      <div class="sk-bounce2"></div>
                      <div class="sk-bounce3"></div>
                  </div>
              </div>
              <div class="col-md-4">
                  <button type="button" ng-click="$dismiss()" class="btn btn-white btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-sign-out"></i></span> Cancelar</button>
                  <button type="button" ng-click="vm.guardar()" ng-disabled="form_datos.$invalid" class="btn btn-default btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-check"></i></span> Guardar</button>
              </div>
          </div>

      </div>
</div>