<div class="inmodal">
      <div class="modal-header">
          <h4 class="modal-title"> Formatos oficiales del curso</h4>
      </div>
      <div class="modal-body" style="background: #fff;">

        <div ng-show="vm.modalidad == 'Regular'">
            <div class="row">
              <div class="col-md-6">
                  <button type="button" ng-disabled="vm.btnhabilitado" ng-click="vm.generaFormato('aci')" class="btn btn-success btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-file-text-o"></i></span> Asignaci&oacute;n de instructores (ACI)</button>
              </div>
              <div class="col-md-6">
                  <button type="button" ng-disabled="vm.btnhabilitado" ng-click="vm.generaFormato('rdod-10')" class="btn btn-success btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-file-text-o"></i></span> Registro y Control de Diplomas De Especialidad Otorgados (RDOD-10)</button>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                  <button type="button" ng-disabled="vm.btnhabilitado" ng-click="vm.generaFormato('rcdod-11')" class="btn btn-success btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-file-text-o"></i></span> Registro y Control de Duplicados Otorgados (RCDOD-11)</button>
              </div>
              <div class="col-md-6">
                  <button type="button" ng-disabled="vm.btnhabilitado" ng-click="vm.generaFormato('resd-05')" class="btn btn-success btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-file-text-o"></i></span> Registro de Evaluaci&oacute;n por Sub-objetivos (RESD-05)</button>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                  <button type="button" ng-disabled="vm.btnhabilitado" ng-click="vm.generaFormato('lad-06')" class="btn btn-success btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-file-text-o"></i></span> Lista de Asistencia (LAD-06)</button>
              </div>
              <div class="col-md-6">
                  <button type="button" ng-disabled="vm.btnhabilitado" ng-click="vm.generaFormato('rae')" class="btn btn-success btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-file-text-o"></i></span> Registro de Acreditaci&oacute;n de Especialidad (RAE)</button>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                  <button type="button" ng-disabled="vm.btnhabilitado" ng-click="vm.generaFormato('riacd-02')" class="btn btn-success btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-file-text-o"></i></span> Registro de Inscripci&oacute;n Acreditación y Certificaci&oacute;n (RIACD-02)</button>
              </div>
              <div class="col-md-6">
                  <button type="button" ng-disabled="vm.btnhabilitado" ng-click="vm.generaFormato('ri')" class="btn btn-success btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-file-text-o"></i></span> Registro de Inscripci&oacute;n (RI)</button>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                  <button type="button" ng-disabled="vm.btnhabilitado" ng-click="vm.generaFormato('riact')" class="btn btn-success btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-file-text-o"></i></span> Registro de Acreditci&oacute;n y Certificaci&oacute;n de Cursos T&eacute;cnicos (RIACT)</button>
              </div>
              <div class="col-md-6">
                  <button type="button" ng-click="vm.generaFormato('contrato_regular')" class="btn btn-primary btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-file-text-o"></i></span> Contrato del Instructor</button>
              </div>
            </div>
            <br>
        </div>

        <div ng-show="vm.modalidad != 'Regular'">
            <div class="row">
              <div class="col-md-6">
                  <button type="button" ng-disabled="vm.btnhabilitado" ng-click="vm.generaFormato('rdoe')" class="btn btn-success btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-file-text-o"></i></span> Reporte de Documentos Oficiales Expedidos (RDOE)</button>
              </div>
              <div class="col-md-6">
                  <button type="button" ng-disabled="vm.btnhabilitado" ng-click="vm.generaFormato('rescnr')" class="btn btn-success btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-file-text-o"></i></span> Registro de Evaluaci&oacute;n por Sub-objetivos de Cursos No Regulares (RESCNR)</button>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                  <button type="button" ng-disabled="vm.btnhabilitado" ng-click="vm.generaFormato('lacnr')" class="btn btn-success btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-file-text-o"></i></span> Lissta de Asistencia de Cursos no Regulares (LACNR)</button>
              </div>
              <div class="col-md-6">
                  <button type="button" ng-disabled="vm.btnhabilitado" ng-click="vm.generaFormato('riacnr')" class="btn btn-success btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-file-text-o"></i></span> Registro de inscripci&oacute;n, Acreditaci&oacute;n y Certificaci&oacute;n de cursos no Regulares (RIACNR)</button>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                  <button type="button" ng-disabled="vm.btnhabilitado" ng-click="vm.generaFormato('ri')" class="btn btn-success btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-file-text-o"></i></span> Registro de Inscripci&oacute;n (RI)</button>
              </div>
              <div class="col-md-6" ng-show="vm.modalidad == 'Extension'">
                  <button type="button" ng-disabled="vm.btnhabilitado" ng-click="vm.generaFormato('aci')" class="btn btn-success btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-file-text-o"></i></span> Asignaci&oacute;n de instructores (ACI)</button>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                  <button type="button" ng-click="vm.generaFormato('contrato_no_regular')" class="btn btn-primary btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-file-text-o"></i></span> Contrato del Instructor</button>
              </div>
            </div>
            <br>
        </div>


      </div>
      <div class="modal-footer">

          <div class="row">
              <div class="col-md-12">
                  <button type="button" ng-click="$dismiss()" class="btn btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-sign-out"></i></span> Cerrar</button>
              </div>
          </div>

      </div>
</div>