<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row" style="margin-bottom: 25px;">
                <div class="col-md-7 padding-left-min padding-right-min">
    
                        <div class="ibox">
                            <div class="ibox-title">
                                <div class="row">
                                        <div class="col-md-3">
                                                <h2 style="width: 200px;">{{vm.titulo_seccion}}</h2>
                                        </div>
                                        <div class="col-md-5">
                                                        <div class="input-group" ng-show="(currentUser.unidad_pertenece_id == 1)" style="margin-top:7px;width: 320px;">
                                                                <label class="col-md-3 control-label" style="margin-top:7px;">Unidad:</label>
                                                                <div class="col-md-9">
                                                                    <select class="form-control m-b" ng-model="vm.unidadSeleccionada" ng-change="vm.muestra_cursos_unidad()" ng-options="unidad as unidad.nombre for unidad in vm.listaUnidades"></select>
                                                            </div>
                                                        </div>
                                        </div>
                                        <div class="col-md-4">
                                                        <div class="input-group" style="margin-top:7px;width: 230px;">
                                                                <label class="col-md-3 control-label" style="margin-top:7px;">Estatus:</label>
                                                                <div class="col-md-9">
                                                                    <select class="form-control m-b" ng-model="vm.estatusSeleccionado" ng-change="vm.muestra_estatus_curso()" ng-options="estatus as estatus.texto for estatus in vm.listaEstatus"></select>
                                                            </div>
                                                        </div>
                                        </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group" style="margin-top:16px;">
                                            <input type="text" ng-teclaenter="vm.muestraResultadosBusqueda()" placeholder="Curso a buscar" class="input form-control" ng-model="vm.cadena_buscar">
                                                    <span class="input-group-btn">
                                                            <button class="btn btn-success btn-labeled" ng-click="vm.limpiaBusqueda()" ng-show="vm.mostrarbtnLimpiar"><span class="btn-label"><i class="fa fa-trash-o"></i></span> Limpiar</button>
                                                            <button class="btn btn-default btn-labeled" ng-click="vm.muestraResultadosBusqueda()"><span class="btn-label"><i class="fa fa-search"></i></span> Buscar</button>
                                                    </span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div class="ibox-content">
                                
                                        <table class="tablaDatos table table-condensed no-footer">
                                          <thead>
                                            <tr>
                                                <th ng-show="(currentUser.unidad_pertenece_id == 1)" >Unidad</th>
                                                <th>Curso o m&oacute;dulo</th>
                                                <th>Modalidad</th>
                                                <th>Horario</th>
                                                <th>Fecha inicio</th>
                                                <th>Fecha fin</th>
                                                <th style="width: 130px;">Estatus</th>
                                            </tr>
                                          </thead>
                                         <tbody>
                                            <tr ng-repeat="registro in vm.listaCursos" ng-click="vm.muestraDatosRegistroActual(registro)" ng-class="{seleccion:$index==vm.tablaListaCursos.fila_seleccionada}" class="pointer">
                                                <td ng-show="(currentUser.unidad_pertenece_id == 1)" > {{registro.unidad_pertenece.nombre}}</td>
                                                <td> {{registro.nombreCurso}}</td>
                                                <td> {{registro.modalidad}}</td>
                                                <td> {{registro.horario}}</td>
                                                <td> {{registro.fechaInicio | date:'d/MMMM/yyyy'}}</td>
                                                <td> {{registro.fechaFin | date:'d/MMMM/yyyy'}}</td>
                                                <td class="client-status" ng-switch on="registro.estatus">
                                                    <span ng-switch-when="2" class="label label-warning texto-estatus-ptc">En espera</span>
                                                    <span ng-switch-when="4" class="label label-primary texto-estatus-ptc">Activo <br>{{registro.diasDif <= 0 ? 'iniciado' : ''}}</span>
                                                    <span ng-switch-when="5" class="label label-success texto-estatus-ptc">Concluido</span>
                                                    <span ng-switch-when="6" class="label label-default texto-estatus-ptc">Cerrado</span>
                                                    <span ng-switch-when="7" class="label label-danger texto-estatus-ptc">Cancelado</span>
                                                    <button type="button" ng-if="( (registro.diasDif <= 4)&&(registro.diasDif >= 1) )  && (registro.estatus == 2)" class="btn btn-white btn-sm" tooltip-placement="top" tooltip="Faltan {{registro.diasDif}} d&iacute;as para que este curso inicie y no ha sido activado"><i class="fa fa-asterisk"></i></button>
                                                    <button type="button" ng-if="(registro.diasDif <= 0) && (registro.estatus == 2)" class="btn btn-white btn-sm" tooltip-placement="right" tooltip="Se ha vencido la fecha de inicio de este curso"><i class="fa fa-asterisk"></i></button>
                                                </td>
                                            </tr>
                                          </tbody>
                                        </table>

                                        <tabla-paginacion config="vm.tablaListaCursos" paginar="vm.cambiarPagina()"></tabla-paginacion>

                            </div>
                        </div>
                
                </div> <!-- column1 -->
                <div class="col-md-5 padding-left-min padding-right-min">
                    
                    <div class="row">
                        <div class="col-md-12">

                                <div class="ibox">
                                    <div class="ibox-content" style="height:710px;">
                                        <div class="tab-content">
                                            <div class="tab-pane active" ng-show="vm.client == 1" ng-init="vm.client = 1">
                                                        <div class="row">
                                                            <div class="col-lg-12 text-center">
                                                                <p>
                                                                    <h2>Seleccione un registro para ver los detalles</h2>
                                                                </p>
                                                            </div>
                                                        </div>
                                            </div>
                                            <div class="tab-pane active" ng-show="vm.client == 2">
                                                        <div class="panel blank-panel">
                                                                <tabset style="height: 590px;">
                                                                    <tab heading="Detalle del curso" active="vm.tabs[0].active">

                                                                            <ul class="list-group clear-list">

                                                                                <li class="list-group-item fist-item" style="height: 60px">
                                                                                    <span style="width: 300px;text-align: right;" class="pull-right"> {{vm.cursoSeleccionado.nombreCurso}} </span>
                                                                                    Curso o m&oacute;dulo
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.cursoSeleccionado.modalidad}} </span>
                                                                                    Modalidad
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.cursoSeleccionado.localidad_pertenece.nombre}} </span>
                                                                                    Localidad
                                                                                </li>
                                                                                <li class="list-group-item" ng-show="(currentUser.unidad_pertenece_id == 1)" >
                                                                                    <span class="pull-right"> {{vm.cursoSeleccionado.unidad_pertenece.nombre}} </span>
                                                                                    Unidad
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.cursoSeleccionado.numeroHoras}} </span>
                                                                                    N&uacute;mero de horas
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.cursoSeleccionado.nombreInstructor}} </span>
                                                                                    Instructor
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> Fecha t&eacute;rmino: {{vm.cursoSeleccionado.fechaFin | date:'d/MMMM/yyyy'}} </span>
                                                                                    Fecha inicio: {{vm.cursoSeleccionado.fechaInicio | date:'d/MMMM/yyyy'}}
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.cursoSeleccionado.aulaAsignada}} </span>
                                                                                    Aula asignada
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.cursoSeleccionado.horario}} </span>
                                                                                    Horario
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> $ {{vm.cursoSeleccionado.costo}} </span>
                                                                                    Costo
                                                                                </li>
                                                                                <li style="height: 82px" class="list-group-item">
                                                                                    <span class="pull-right" style="width: 410px;text-align: right;"> {{vm.cursoSeleccionado.observaciones}} </span>
                                                                                    Observaciones
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right">P&uacute;blico: <span class="label label-{{vm.cursoSeleccionado.publico === true ? 'primary' : 'warning'}}">{{vm.cursoSeleccionado.publico === true ? 'S&iacute;' : 'No'}}</span></span>
                                                                                    Estatus: 
                                                                                    <span ng-switch on="vm.cursoSeleccionado.estatus">
                                                                                        <span ng-switch-when="2" class="label label-warning">En espera</span>
                                                                                        <span ng-switch-when="4" class="label label-primary">Activo</span>
                                                                                        <span ng-switch-when="5" class="label label-success">Concluido</span>
                                                                                        <span ng-switch-when="6" class="label label-default">Cerrado</span>
                                                                                        <span ng-switch-when="7" class="label label-danger">Cancelado</span>
                                                                                    </span>
                                                                                </li>
                                                                            </ul>

                                                                    </tab>

                                                                    <tab heading="Registro de inscripci&oacute;n y pagos" ng-init="true" active="vm.tabs[1].active">

                                                                            <ul class="list-group clear-list" style="margin-bottom: 2px;">
                                                                                <li class="list-group-item fist-item">
                                                                                    
                                                                                    Cupo m&aacute;ximo: <strong>{{vm.cursoSeleccionado.cupoMaximo}}</strong>
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> Inscritos actual: <strong>{{vm.cursoSeleccionado.inscripcionesCursos.length}}</strong></span>
                                                                                    N&uacute;m. m&iacute;nimo de inscritos: <strong>{{vm.cursoSeleccionado.minRequeridoInscritos}}</strong>
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> Pagaron: <strong>{{vm.total_pagados}}</strong> </span>
                                                                                    N&uacute;m. m&iacute;nimo de inscritos pagados: <strong>{{vm.cursoSeleccionado.minRequeridoPago}}</strong>
                                                                                </li>
                                                                            </ul>

                                                                            <table class="table" style="margin-bottom: 0;">
                                                                                <thead>
                                                                                <tr>
                                                                                    <th style="width: 3%;"></th>
                                                                                    <th style="width: 27%;">N&uacute;m. Control</th>
                                                                                    <th style="width: 60%;">Nombre</th>
                                                                                    <th style="width: 10%;" ng-show="(vm.cursoSeleccionado.estatus < 5)">Pago</th>
                                                                                    <th style="width: 10%;" ng-show="(vm.cursoSeleccionado.estatus >= 5)">Calif.</th>
                                                                                </tr>
                                                                                </thead>
                                                                            </table>
                                                                            <div style="height: 380px;">
                                                                                    <div class="full-height-scroll" full-scroll>
                                                                                        <table class="table" ng-show="(vm.cursoSeleccionado.inscripcionesCursos.length == 0)">
                                                                                            <tr>
                                                                                                <td style="width: 3%;"></td>
                                                                                                <td style="width: 27%;"></td>
                                                                                                <td style="width: 60%;">No hay ning&uacute;n inscrito</td>
                                                                                                <td></td>
                                                                                            </tr>
                                                                                        </table>

                                                                                        <table class="table table-striped" ng-show="(vm.cursoSeleccionado.inscripcionesCursos.length > 0)">
                                                                                            <tr ng-repeat="inscripcion in vm.cursoSeleccionado.inscripcionesCursos">
                                                                                                <td style="width: 3%;"> {{$index + 1}}</td>
                                                                                                <td style="width: 27%;"> {{inscripcion.Capacitandos.numControl}}</td>
                                                                                                <td style="width: 60%;"> {{inscripcion.Capacitandos.apellidoPaterno + ' ' + inscripcion.Capacitandos.apellidoMaterno + ' ' + inscripcion.Capacitandos.nombre}}</td>
                                                                                                <td style="width: 10%;" class="client-status" ng-switch on="inscripcion.pagado" ng-show="(vm.cursoSeleccionado.estatus < 5)">
                                                                                                    <span ng-switch-when="0" class="label label-warning texto-estatus-ptc">Pendiente</span>
                                                                                                    <span ng-switch-when="1" class="label label-success texto-estatus-ptc">Pagado</span>
                                                                                                    <span ng-switch-when="2" class="label label-info texto-estatus-ptc">Exento al 100%</span>
                                                                                                    <span ng-switch-when="3" class="label label-primary texto-estatus-ptc">Exento con porcentaje</span>
                                                                                                </td>
                                                                                                <td style="width: 10%;" ng-show="(vm.cursoSeleccionado.estatus >= 5)"> {{inscripcion.calificacion}}</td>
                                                                                            </tr>
                                                                                        </table>
                                                                                        
                                                                                    </div>
                                                                            </div>

                                                                    </tab>
                                                                    <tab heading="Encuesta de satisfacci&oacute;n" ng-init="true" active="vm.tabs[2].active" ng-show="vm.existeEncuesta">

                                                                            <ul class="list-group clear-list" style="margin-bottom: 2px;">
                                                                                <li class="list-group-item fist-item">
                                                                                    <span class="pull-right"> Encuestas respondidas: <strong>{{vm.encuesta_alumno.respondidas}}</strong></span>
                                                                                    Total capacitandos: <strong>{{vm.cursoSeleccionado.inscripcionesCursos.length}}</strong>
                                                                                </li>
                                                                            </ul>
                                                                            <br>
                                                                            <div style="height: 450px;">
                                                                                <div class="full-height-scroll" full-scroll>

                                                                                        <ul class="list-group clear-list">

                                                                                            <li class="list-group-item fist-item row-encuesta">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-7"><p  class="row-encuesta-pregunta">1. ¿Los temas del curso se dieron de manera adecuada?</p></div>
                                                                                                    <div class="col-md-5 text-center"> <div class="row-encuesta-grafico"><div flot dataset="vm.encuesta_alumno.preg1" options="vm.pieOptions"></div></div> </div>
                                                                                                </div>
                                                                                            </li>
                                                                                            <li class="list-group-item row-encuesta">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-7"><p class="row-encuesta-pregunta">2. ¿El instructor fue respetuoso con usted y con el grupo?</p></div>
                                                                                                    <div class="col-md-5 text-center"> <div class="row-encuesta-grafico"><div flot dataset="vm.encuesta_alumno.preg2" options="vm.pieOptions"></div></div> </div>
                                                                                                </div>
                                                                                            </li>
                                                                                            <li class="list-group-item row-encuesta">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-7"><p class="row-encuesta-pregunta">3. ¿El instructor motiv&oacute; su inter&eacute;s en cada uno de los temas?</p></div>
                                                                                                    <div class="col-md-5 text-center"> <div class="row-encuesta-grafico"><div flot dataset="vm.encuesta_alumno.preg3" options="vm.pieOptions"></div></div> </div>
                                                                                                </div>
                                                                                            </li>
                                                                                            <li class="list-group-item row-encuesta">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-7"><p class="row-encuesta-pregunta">4. ¿El instructor resolvi&oacute; las dudas que le presentaron?</p></div>
                                                                                                    <div class="col-md-5 text-center"> <div class="row-encuesta-grafico"><div flot dataset="vm.encuesta_alumno.preg4" options="vm.pieOptions"></div></div> </div>
                                                                                                </div>
                                                                                            </li>
                                                                                            <li class="list-group-item row-encuesta">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-7"><p class="row-encuesta-pregunta">5. ¿El instructor realiz&oacute; las pr&aacute;cticas de lo visto en clase?</p></div>
                                                                                                    <div class="col-md-5 text-center"> <div class="row-encuesta-grafico"><div flot dataset="vm.encuesta_alumno.preg5" options="vm.pieOptions"></div></div> </div>
                                                                                                </div>
                                                                                            </li>
                                                                                            <li class="list-group-item row-encuesta">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-7"><p class="row-encuesta-pregunta">6. ¿El instructor recurri&oacute; al uso material didáctico de acuerdo al curso?</p></div>
                                                                                                    <div class="col-md-5 text-center"> <div class="row-encuesta-grafico"><div flot dataset="vm.encuesta_alumno.preg6" options="vm.pieOptions"></div></div> </div>
                                                                                                </div>
                                                                                            </li>
                                                                                            <li class="list-group-item row-encuesta">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-7"><p class="row-encuesta-pregunta">7. ¿El instructor aplic&oacute; evaluaciones?</p></div>
                                                                                                    <div class="col-md-5 text-center"> <div class="row-encuesta-grafico"><div flot dataset="vm.encuesta_alumno.preg7" options="vm.pieOptions"></div></div> </div>
                                                                                                </div>
                                                                                            </li>
                                                                                            <li class="list-group-item row-encuesta">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-7"><p class="row-encuesta-pregunta">8. ¿Las sesiones se llevaron a cabo en los horarios y las fechas que se le indicaron?</p></div>
                                                                                                    <div class="col-md-5 text-center"> <div class="row-encuesta-grafico"><div flot dataset="vm.encuesta_alumno.preg8" options="vm.pieOptions"></div></div> </div>
                                                                                                </div>
                                                                                            </li>
                                                                                            <li class="list-group-item row-encuesta">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-7"><p class="row-encuesta-pregunta">9. El equipo y herramientas, ¿funcionaron bien, durante todo el curso?</p></div>
                                                                                                    <div class="col-md-5 text-center"> <div class="row-encuesta-grafico"><div flot dataset="vm.encuesta_alumno.preg9" options="vm.pieOptions"></div></div> </div>
                                                                                                </div>
                                                                                            </li>
                                                                                            <li class="list-group-item row-encuesta">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-7"><p class="row-encuesta-pregunta">10. ¿Los temas del curso le ayudaron a tener un mejor trabajo?</p></div>
                                                                                                    <div class="col-md-5 text-center"> <div class="row-encuesta-grafico"><div flot dataset="vm.encuesta_alumno.preg10" options="vm.pieOptions"></div></div> </div>
                                                                                                </div>
                                                                                            </li>
                                                                                            <li class="list-group-item row-encuesta">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-7"><p class="row-encuesta-pregunta">11. ¿Como considera el estado de las instalaciones?</p></div>
                                                                                                    <div class="col-md-5 text-center"> <div class="row-encuesta-grafico"><div flot dataset="vm.encuesta_alumno.preg11" options="vm.pieOptions"></div></div> </div>
                                                                                                </div>
                                                                                            </li>
                                                                                            <li class="list-group-item row-encuesta">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-7"><p class="row-encuesta-pregunta">12. En general, ¿El curso le pareci&oacute;?</p></div>
                                                                                                    <div class="col-md-5 text-center"> <div class="row-encuesta-grafico"><div flot dataset="vm.encuesta_alumno.preg12" options="vm.pieOptions"></div></div> </div>
                                                                                                </div>
                                                                                            </li>
                                                                                            <li class="list-group-item row-encuesta">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-7"><p class="row-encuesta-pregunta">13. ¿Volver&iacute;a a tomar cursos en el ICATQR?</p></div>
                                                                                                    <div class="col-md-5 text-center"> <div class="row-encuesta-grafico"><div flot dataset="vm.encuesta_alumno.preg13" options="vm.pieOptions"></div></div> </div>
                                                                                                </div>
                                                                                            </li>

                                                                                        </ul>

                                                                                </div>
                                                                            </div>
                                                                    </tab>
                                                                </tabset>
                                                                <div class="row">
                                                                    <div class="col-md-12 text-center">
                                                                        <button type="button" ng-show="(vm.cursoSeleccionado.estatus == 2) && (currentUser.perfil == 'unidad_capacit')" ng-click="vm.reprogramaCurso(vm.cursoSeleccionado)" class="btn btn-warning btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-share"></i></span> Reprogramar curso</button>
                                                                        <button type="button" ng-show="(vm.cursoSeleccionado.estatus == 2) && (currentUser.perfil == 'unidad_capacit')" ng-click="vm.cancelaCurso(vm.cursoSeleccionado)" class="btn btn-danger btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-ban"></i></span> Cancelar curso</button>
                                                                        
                                                                        <!-- botones cuando casi concluye el curso -->
                                                                        <button type="button" ng-show="(vm.cursoSeleccionado.estatus == 4) && (currentUser.perfil == 'unidad_capacit') && (vm.cursoSeleccionado.diasTermine <= 5)" ng-click="vm.concluyeCurso(vm.cursoSeleccionado)" class="btn btn-danger btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-check"></i></span> Marcar como concluido</button>
                                                                        
                                                                        <button type="button" ng-show="(vm.cursoSeleccionado.estatus == 5) && (currentUser.perfil == 'unidad_capacit')" ng-click="vm.cierraCurso(vm.cursoSeleccionado)" class="btn btn-warning btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-times"></i></span> Cerrar curso</button>
                                                                        <button type="button" ng-show="(vm.cursoSeleccionado.inscripcionesCursos.length > 0) && (currentUser.perfil == 'unidad_capacit')" ng-click="vm.generaListados(vm.cursoSeleccionado)" class="btn btn-primary btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-file-excel-o"></i></span> Lista inscritos en Excel</button>
                                                                        <button type="button" ng-show="(vm.cursoSeleccionado.estatus == 5) && (currentUser.perfil == 'unidad_capacit')" ng-click="vm.asientaCalificaciones(vm.cursoSeleccionado)" class="btn btn-default btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-pencil"></i></span> Asentar calificaciones</button>
                                                                    </div>
                                                                </div>
                                                                <br>
                                                                <div class="row">
                                                                    <div class="col-md-12 text-center">
                                                                        <!-- botones cuando ya inicio el curso -->
                                                                        <button type="button" ng-show="(currentUser.perfil == 'unidad_capacit')" ng-click="vm.ventanaListaFormatos(vm.cursoSeleccionado)" class="btn btn-success btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-file-text-o"></i></span> Formatos oficiales</button>
                                                                        <!-- <button type="button" ng-show="(vm.cursoSeleccionado.estatus == 4) && (currentUser.perfil == 'unidad_capacit') && (vm.cursoSeleccionado.diasDif <=0) && (vm.cursoSeleccionado.diasTermine > 5)" ng-click="vm.ventanaListaFormatos(vm.cursoSeleccionado)" class="btn btn-success btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-file-text-o"></i></span> Formatos oficiales</button> -->                                                                        
                                                                    </div>
                                                                </div>

                                                        </div> <!--panel blank-panel-->
                          
                                            </div> <!-- client == 2 -->
                                        </div>
                                    </div>
                                </div> <!-- class ibox -->


                        </div>
                    </div> <!-- row -->

                </div> <!-- column2 -->

    </div><!-- row principal -->
</div>
