<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
                <div class="col-md-8 padding-left-min padding-right-min">
    
                        <div class="ibox">
                            <div class="ibox-title">
                                <div class="row">
                                        <div class="col-md-6">
                                                <h2>Cursos pendientes de validar</h2>
                                        </div>
                                        <div class="col-md-6">
                                                        <div class="input-group" ng-show="(currentUser.unidad_pertenece_id == 1)" style="margin-top: 4px;width: 350px;">
                                                                <label class="col-md-3 control-label" style="margin-top:7px;">Unidad:</label>
                                                                <div class="col-md-9">
                                                                    <select class="form-control m-b" ng-model="vm.unidadSeleccionada" ng-change="vm.muestra_cursos_unidad()" ng-options="unidad as unidad.nombre for unidad in vm.listaUnidades"></select>
                                                            </div>
                                                        </div>
                                        </div>
                                </div>
                            </div>
                            <div class="ibox-content">
                                
                                        <table class="tablaDatos table table-condensed no-footer">
                                          <thead>
                                            <tr>
                                                <th class="text-center">Unidad</th>
                                                <th class="text-center">Curso o m&oacute;dulo</th>
                                                <th class="text-center">Tipo</th>
                                                <th class="text-center">Fecha inicio</th>
                                                <th class="text-center">Estatus</th>
                                                <th class="text-center">Revisi&oacute;n Programas</th>
                                                <th class="text-center">Aprobaci&oacute;n Dir. Acad&eacute;mica</th>
                                                <th class="text-center">Aprobaci&oacute;n Dir. Gral.</th>
                                                <th class="text-center">Oficio de autorizaci&oacute;n</th>
                                            </tr>
                                          </thead>
                                         <tbody>
                                            <tr ng-repeat="registro in vm.listaCursosValidar" ng-click="vm.muestraDatosRegistroActual(registro)" ng-class="{seleccion:$index==vm.tablaListaCursos.fila_seleccionada}" class="pointer">
                                                <td> {{registro.unidad_pertenece.nombre}}</td>
                                                <td> {{registro.nombreCurso}}</td>
                                                <td> {{registro.modalidad}}</td>
                                                <td> {{registro.fechaInicio | date:'d/MMMM/yyyy'}}</td>
                                                <td class="client-status" ng-switch on="registro.estatus">
                                                    <span ng-switch-when="0" class="label label-default texto-estatus-ptc">Sin revisar</span>
                                                    <span ng-switch-when="1" class="label label-warning texto-estatus-ptc">En revisi&oacute;n</span>
                                                    <span ng-switch-when="2" class="label label-success texto-estatus-ptc">Aprobado</span>
                                                    <span ng-switch-when="3" class="label label-danger texto-estatus-ptc">Rechazado</span>
                                                    <span ng-switch-when="4" class="label label-info texto-estatus-ptc">Activo</span>
                                                    <span ng-switch-when="5" class="label label-default texto-estatus-ptc">Cerrado</span>
                                                </td>

                                                <td class="client-status" style="text-align: center;">
                                                    <button type="button" ng-show="( (registro.revisadoProgramas == false) && (registro.estatus == 1) )" ng-click="vm.apruebaCurso(registro, 'dp')" class="btn btn-primary btn-sm" tooltip-placement="top" tooltip="Marcar como revisado este curso por parte del &aacute;rea de programas de capacitaci&oacute;n"><i class="fa fa-check"></i></button>
                                                    <span ng-show="( (registro.revisadoProgramas == true) && (registro.estatus == 1) )" class="label label-{{registro.revisadoProgramas === true ? 'primary' : 'warning'}}">{{registro.revisadoProgramas === true ? 'S&iacute;' : 'No'}}</span>
                                                    <button type="button" ng-show="( (registro.revisadoProgramas == false) && (registro.estatus == 1) )" ng-click="vm.rechazaCurso(registro)" class="btn btn-danger btn-sm" tooltip-placement="top" tooltip="Rechazar este curso"><i class="fa fa-times"></i></button>
                                                </td>
                                                <td class="client-status" style="text-align: center;">
                                                    <button type="button" ng-show="( (registro.aprobadoAcademica == false) && (registro.estatus == 1) )"  ng-disabled="( (registro.revisadoProgramas == false) && (registro.estatus == 1) )" ng-click="vm.apruebaCurso(registro, 'da')" class="btn btn-primary btn-sm" tooltip-placement="top" tooltip="Aprobar este curso por parte del &aacute;rea acad&eacute;mica"><i class="fa fa-check"></i></button>
                                                    <span ng-show="( (registro.aprobadoAcademica == true) && (registro.estatus == 1) )" class="label label-{{registro.aprobadoAcademica === true ? 'primary' : 'warning'}}">{{registro.aprobadoAcademica === true ? 'S&iacute;' : 'No'}}</span>
                                                </td>
                                                <td class="client-status" style="text-align: center;">
                                                    <button type="button" ng-disabled="( (registro.aprobadoAcademica == false) && (registro.estatus == 1) )" ng-click="vm.apruebaCurso(registro,'dg')" class="btn btn-primary btn-sm" tooltip-placement="top" tooltip="Aprobar y aceptar este curso por parte de direcci&oacute;n general"><i class="fa fa-check"></i></button>
                                                </td>
                                                <td class="client-status" style="text-align: center;">
                                                    <button type="button" ng-disabled="( (registro.revisadoProgramas == false) && (registro.estatus == 1) )" class="btn btn-sm" ng-click="vm.generaDocumento(registro.idCurso)"><i class="fa fa-print" tooltip-placement="top" tooltip="Imprime Documento de autorizaci&oacute;n"></i></button>
                                                </td>
                                            </tr>
                                          </tbody>
                                        </table>

                                        <tabla-paginacion config="vm.tablaListaCursos" paginar="vm.cambiarPagina()"></tabla-paginacion>

                            </div>
                        </div>
                
                </div> <!-- column1 -->
                <div class="col-md-4 padding-left-min padding-right-min">
                    
                    <div class="row">
                        <div class="col-md-12">

                                <div class="ibox">
                                    <div class="ibox-content" style="height:780px;">
                                        <div class="tab-content">
                                            <div class="tab-pane active" ng-show="vm.client == 1" ng-init="vm.client = 1">
                                                        <div class="row">
                                                            <div class="col-lg-12 text-center">
                                                                <p>
                                                                    <h2>Seleccione un registro para ver los detalles</h2>
                                                                </p>
                                                            </div>
                                                        </div>
                                            </div>
                                            <div class="tab-pane active" ng-show="vm.client == 2">
                                                        <div class="panel blank-panel">
                                                                <tabset style="height: 720px;">
                                                                    <tab heading="Curso propuesto para ofertar" active="vm.tabs[0].active">

                                                                            <ul class="list-group clear-list">
                                                                                <li class="list-group-item fist-item">
                                                                                    <span class="pull-right"> {{vm.cursoSeleccionado.unidad_pertenece.nombre}} </span>
                                                                                    Unidad
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.trimestres[vm.cursoSeleccionado.ptc_pertenece.trimestre - 1] + ' ' + vm.cursoSeleccionado.ptc_pertenece.anio }} </span>
                                                                                    Trimestre
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right label label-{{vm.cursoSeleccionado.programadoPTC === true ? 'primary' : 'warning'}}">{{vm.cursoSeleccionado.programadoPTC === true ? 'S&iacute;' : 'No'}}</span>
                                                                                    Programado en el PTC
                                                                                </li>
                                                                                <li class="list-group-item" style="height: 60px">
                                                                                    <span style="width: 300px;text-align: right;" class="pull-right"> {{vm.cursoSeleccionado.nombreCurso}} </span>
                                                                                    Curso o m&oacute;dulo
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.cursoSeleccionado.modalidad}} </span>
                                                                                    Tipo
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.cursoSeleccionado.localidad_pertenece.nombre}} </span>
                                                                                    Localidad
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.cursoSeleccionado.horario}} </span>
                                                                                    Horario
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> Horas total: {{vm.cursoSeleccionado.numeroHoras}} </span>
                                                                                    Horas semana: {{vm.cursoSeleccionado.horasSemana}}
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.cursoSeleccionado.aulaAsignada}} </span>
                                                                                    Aula asignada
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.cursoSeleccionado.costo | currency}} </span>
                                                                                    Costo
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right label label-{{vm.cursoSeleccionado.publico === true ? 'primary' : 'warning'}}">{{vm.cursoSeleccionado.publico === true ? 'S&iacute;' : 'No'}}</span>
                                                                                    P&uacute;blico
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.cursoSeleccionado.cupoMaximo}} </span>
                                                                                    Cupo m&aacute;ximo
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> M&iacute;nimo inscritos pagados: {{vm.cursoSeleccionado.minRequeridoPago}}</span>
                                                                                    M&iacute;nimo inscritos: {{vm.cursoSeleccionado.minRequeridoInscritos}}
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> Fecha t&eacute;rmino: <strong>{{vm.cursoSeleccionado.fechaFin | date:'d/MMMM/yyyy'}}</strong> </span>
                                                                                    Fecha inicio: <strong>{{vm.cursoSeleccionado.fechaInicio | date:'d/MMMM/yyyy'}}</strong>
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.cursoSeleccionado.nombreInstructor}} </span>
                                                                                    Instructor
                                                                                </li>
                                                                                <li style="height: 80px" class="list-group-item">
                                                                                    <span class="pull-right" style="width: 300px;text-align: right;"> {{vm.cursoSeleccionado.observaciones}} </span>
                                                                                    Observaciones
                                                                                </li>
                                                                            </ul>
                                                                    </tab>

                                                                    <tab heading="Curso programado en el PTC" ng-show="(vm.cursoSeleccionado.programadoPTC)" ng-init="true" active="vm.tabs[1].active">

                                                                            <ul class="list-group clear-list">
                                                                                <li style="height: 60px" class="list-group-item fist-item">
                                                                                    <span style="width: 300px;text-align: right;" class="pull-right"> {{vm.cursoSeleccionado.curso_ptc_pertenece.detalle_curso.nombreCurso}} </span>
                                                                                    Curso o m&oacute;dulo
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.cursoSeleccionado.curso_ptc_pertenece.detalle_curso.modalidad}} </span>
                                                                                    Tipo
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.cursoSeleccionado.curso_ptc_pertenece.horario}} </span>
                                                                                    Horario
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.cursoSeleccionado.curso_ptc_pertenece.aulaAsignada}} </span>
                                                                                    Aula asignada
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.cursoSeleccionado.curso_ptc_pertenece.capacitandos}} </span>
                                                                                    Capacitandos
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.cursoSeleccionado.curso_ptc_pertenece.semanas}} </span>
                                                                                    Horas semana
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.cursoSeleccionado.curso_ptc_pertenece.total}} </span>
                                                                                    Horas total
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.cursoSeleccionado.curso_ptc_pertenece.fechaInicio | date:'d/MMMM/yyyy'}} </span>
                                                                                    Fecha inicio
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.cursoSeleccionado.curso_ptc_pertenece.fechaFin | date:'d/MMMM/yyyy'}} </span>
                                                                                    Fecha t&eacute;rmino
                                                                                </li>
                                                                                <li style="height: 80px" class="list-group-item">
                                                                                    <span class="pull-right" style="text-align: right;">
                                                                                        <ul>
                                                                                            <li ng-repeat="instructor in vm.cursoSeleccionado.curso_ptc_pertenece.instructores_propuestos">{{instructor.apellidoPaterno + ' ' + instructor.apellidoMaterno + ' ' + instructor.nombre}}</li>
                                                                                        </ul>                                                                                        
                                                                                    </span>
                                                                                    Instructores propuestos
                                                                                </li>
                                                                                <li style="height: 80px" class="list-group-item">
                                                                                    <span class="pull-right" style="width: 300px;text-align: right;"> {{vm.cursoSeleccionado.curso_ptc_pertenece.observaciones}} </span>
                                                                                    Observaciones
                                                                                </li>
                                                                            </ul>
                                                                    </tab>
                                                                </tabset>
                                                                <div class="row">
                                                                    <div class="col-md-12 text-center">
                                                                        <button type="button" ng-show="( (vm.cursoSeleccionado.estatus == 1) && (currentUser.perfil == 'programas') && (vm.cursoSeleccionado.revisadoProgramas == false) )" ng-click="vm.apruebaCurso(vm.cursoSeleccionado)" class="btn btn-default btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-check"></i></span> {{vm.mensaje_btn_aceptar}}</button>
                                                                        <button type="button" ng-show="( (vm.cursoSeleccionado.estatus == 1) && (currentUser.perfil == 'dir_academica') && (vm.cursoSeleccionado.revisadoProgramas == true) && (vm.cursoSeleccionado.aprobadoAcademica == false) )" ng-click="vm.apruebaCurso(vm.cursoSeleccionado)" class="btn btn-default btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-check"></i></span>{{vm.mensaje_btn_aceptar}}</button>
                                                                        <button type="button" ng-show="( (vm.cursoSeleccionado.estatus == 1) && (currentUser.perfil == 'dir_gral') && (vm.cursoSeleccionado.aprobadoAcademica == true) && (vm.cursoSeleccionado.aprobadoDireccionGral == false) )" ng-click="vm.apruebaCurso(vm.cursoSeleccionado)" class="btn btn-default btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-check"></i></span> {{vm.mensaje_btn_aceptar}}</button>
                                                                        
                                                                        <button type="button" ng-show="( (vm.cursoSeleccionado.estatus == 1) && (currentUser.perfil == 'programas') && (vm.cursoSeleccionado.revisadoProgramas == false) )" ng-click="vm.rechazaCurso(vm.cursoSeleccionado)" class="btn btn-danger btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-times"></i></span> {{vm.mensaje_btn_rechazar}}</button>
                                                                        <button type="button" ng-show="( (vm.cursoSeleccionado.estatus == 1) && (currentUser.perfil == 'dir_academica') && (vm.cursoSeleccionado.revisadoProgramas == true) && (vm.cursoSeleccionado.aprobadoAcademica == false) )" ng-click="vm.rechazaCurso(vm.cursoSeleccionado)" class="btn btn-danger btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-times"></i></span> {{vm.mensaje_btn_rechazar}}</button>
                                                                        <button type="button" ng-show="( (vm.cursoSeleccionado.estatus == 1) && (currentUser.perfil == 'dir_gral') && (vm.cursoSeleccionado.aprobadoAcademica == true) && (vm.cursoSeleccionado.aprobadoDireccionGral == false) )" ng-click="vm.rechazaCurso(vm.cursoSeleccionado)" class="btn btn-danger btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-times"></i></span> {{vm.mensaje_btn_rechazar}}</button>
                                                                    </div>
                                                                </div>

                                                        </div> <!--panel blank-panel-->
                          
                                            </div> <!-- client == 2 -->
                                        </div>
                                    </div>
                                </div> <!-- class ibox -->


                        </div>
                    </div> <!-- row -->

                </div> <!-- column2 -->

    </div><!-- row principal -->
</div>
