<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="row">
                            <div class="col-md-7">
                                    <h2>Cat&aacute;logo de campos de formaci&oacute;n</h2>
                            </div>
                            <div class="col-md-5 text-right">
                                    <div class="mail-tools">
                                            <button class="btn btn-default btn-labeled" ng-click="vm.nuevo_registro()"><span class="btn-label"><i class="fa fa-plus"></i></span> Agregar nuevo registro</button>
                                    </div>
                            </div>
                    </div>
                </div>
                <div class="ibox-content">
                    
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group" style="margin-top:16px;">
                                        <input type="text" ng-teclaenter="vm.muestraResultadosBusqueda()" placeholder="Texto a buscar" class="input form-control" ng-model="vm.cadena_buscar">
                                                <span class="input-group-btn">
                                                        <button class="btn btn-success btn-labeled" ng-click="vm.limpiaBusqueda()" ng-show="vm.mostrarbtnLimpiar"><span class="btn-label"><i class="fa fa-trash-o"></i></span> Limpiar</button>
                                                        <button class="btn btn-default btn-labeled" ng-click="vm.muestraResultadosBusqueda()"><span class="btn-label"><i class="fa fa-search"></i></span> Buscar</button>
                                                </span>
                                    </div>
                                </div>
                            </div>
                          
                            <br>
                            <table class="tablaDatos table table-condensed no-footer">
                              <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th></th>
                                </tr>
                              </thead>
                             <tbody>
                                <tr ng-repeat="registro in vm.listaRegistros" class="pointer">
                                    <td> {{registro.nombre}}</td>
                                    <td style="width:220px">
                                            <button type="button" class="btn btn-default btn-sm btn-labeled" ng-click="vm.edita_registro(registro)"><span class="btn-label"><i class="fa fa-pencil"></i></span> Editar</button>
                                            <button type="button" class="btn btn-danger btn-sm btn-labeled" ng-click="vm.elimina_registro(registro)"><span class="btn-label"><i class="fa fa-trash-o"></i></span> Eliminar</button>
                                    </td>
                                </tr>
                              </tbody>
                            </table>

                            <tabla-paginacion config="vm.tablaCatalogo" paginar="vm.cambiarPagina()"></tabla-paginacion>

                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>