<div class="inmodal">
      <div class="modal-header">
          <h4 class="modal-title"> Edici&oacute;n del curso</h4>
      </div>
      <div class="modal-body" style="background: #fff;">

        <div class="row">
                <div class="col-lg-6">

                    <form name="form_datos" class="form-horizontal">
                          <div class="form-group">
                              <label class="col-sm-3 control-label">Especialidad</label>
                              <div class="col-sm-9">
                                  <select class="form-control m-b" 
                                      ng-model="vm.especialidadSeleccionada"
                                      ng-options="especialidad as especialidad.nombre for especialidad in vm.listaEspecialidades" required>
                                  </select>
                              </div>
                          </div>

                          <div class="hr-line-dashed"></div>

                          <div class="form-group">
                              <label class="col-sm-3 control-label">Nombre curso</label>
                              <div class="col-sm-9">
                                  <input type="text" class="form-control" ng-model="vm.registroEdicion.nombreCurso" required>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-3 control-label">Clave</label>
                              <div class="col-sm-9">
                                  <input type="text" class="form-control" ng-model="vm.registroEdicion.claveCurso" required>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-3 control-label">Descripci&oacute;n</label>
                              <div class="col-sm-9">
                                  <textarea class="form-control" ng-model="vm.registroEdicion.descripcion" rows="6" cols="90" required></textarea>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-3 control-label">N&uacute;mero de horas</label>
                              <div class="col-sm-9">
                                  <input type="number" class="form-control" ng-model="vm.registroEdicion.numeroHoras" required>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-3 control-label">Modalidad</label>
                              <div class="col-sm-9">
                                  <select class="form-control m-b"
                                      ng-model="vm.registroEdicion.modalidad" required>
                                      <option value="CAE">CAE</option>
                                      <option value="Regular">Regular</option>
                                      <option value="ROCO">ROCO</option>
                                      <option value="Estandar competencia">Est&aacute;ndares de Competencia</option>
                                  </select>
                              </div>
                          </div>
                    </form>

                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="tablaDatos table table-condensed no-footer">
                              <thead>
                                <col width="10%">
                                <col width="70%">
                                <col width="20%">
                                <tr>
                                    <th>N&uacute;m.</th>
                                    <th>Tema</th>
                                    <th><button type="button" ng-click="vm.agregaTema()" class="btn btn-default btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-plus"></i></span> Agregar tema</button></th>
                                </tr>
                              </thead>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="height: 400px;">
                            <div class="full-height-scroll" full-scroll>
                                  <table class="tablaDatos table table-condensed no-footer">
                                    <thead>
                                      <col width="10%">
                                      <col width="90%">
                                      <col width="10%">
                                    </thead>
                                   <tbody>
                                      <tr ng-repeat="registro in vm.registroEdicion.temario" class="pointer">
                                          <td>{{$index + 1}}</td>
                                          <td><input type="text" class="form-control" ng-model="registro.tema"></td>
                                          <td style="width:170px">
                                                  <button type="button" ng-click="vm.eliminaRegistro($index)" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                                          </td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>


      </div>
      <div class="modal-footer">

          <div class="row">
              <div class="col-md-5">
              </div>
              <div class="col-md-4">
                  <div ng-show="vm.mostrar_msg_error" class="alert alert-danger" style="padding: 4px; margin-bottom: 0; text-align: center;">El nombre del tema no puede estar en blanco</div>
                  <div class="sk-spinner sk-spinner-three-bounce" ng-show="vm.mostrarSpiner">
                      <div class="sk-bounce1"></div>
                      <div class="sk-bounce2"></div>
                      <div class="sk-bounce3"></div>
                  </div>
              </div>
              <div class="col-md-3">
                  <button type="button" ng-click="$dismiss()" class="btn btn-white btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-sign-out"></i></span> Cancelar</button>
                  <button type="button" ng-click="vm.guardar()" ng-disabled="form_datos.$invalid" class="btn btn-default btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-check"></i></span> Guardar</button>
              </div>
          </div>

      </div>
</div>