<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
                <div class="col-md-6">
    
                        <div class="row">
                            <div class="col-md-12">

                                    <div class="ibox">
                                        <div class="ibox-title">
                                            <div class="row">
                                                    <div class="col-md-12">
                                                            <h2>Inscripci&oacute;n y pago a cursos vigentes</h2>
                                                    </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="input-group" style="margin-top:16px;">
                                                        <input type="text" ng-teclaenter="vm.muestraResultadosBusqueda()" placeholder="Curso a buscar" class="input form-control" ng-model="vm.cadena_buscar">
                                                                <span class="input-group-btn">
                                                                        <button class="btn btn-success btn-labeled" ng-click="vm.limpiaBusqueda()" ng-show="vm.mostrarbtnLimpiar"><span class="btn-label"><i class="fa fa-trash-o"></i></span> Limpiar</button>
                                                                        <button class="btn btn-default btn-labeled" ng-click="vm.muestraResultadosBusqueda()"><span class="btn-label"><i class="fa fa-search"></i></span> Buscar</button>
                                                                </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                        </div>
                                        <div class="ibox-content">
                                            
                                                    <table class="tablaDatos table table-condensed no-footer">
                                                      <thead>
                                                        <tr>
                                                            <th>Curso o m&oacute;dulo</th>
                                                            <th>Horario</th>
                                                            <th>Fecha inicio</th>
                                                            <th style="width: 130px;">Estatus</th>
                                                        </tr>
                                                      </thead>
                                                     <tbody>
                                                        <tr ng-repeat="registro in vm.listaCursos" ng-click="vm.muestraDatosRegistroActual(registro)" ng-class="{seleccion:$index==vm.tablaListaCursos.fila_seleccionada}" class="pointer">
                                                            <td> {{registro.nombreCurso + ' (' + registro.modalidad + ')'}}</td>
                                                            <td> {{registro.horario}}</td>
                                                            <td> {{registro.fechaInicio | date:'d/MMMM/yyyy'}}</td>
                                                            <td class="client-status" ng-switch on="registro.estatus">
                                                                <span ng-switch-when="2" class="label label-warning texto-estatus-ptc">En espera</span>
                                                                <span ng-switch-when="4" class="label label-primary texto-estatus-ptc">Activo</span>
                                                                <span ng-switch-when="5" class="label label-success texto-estatus-ptc">Concluido</span>
                                                                <span ng-switch-when="6" class="label label-default texto-estatus-ptc">Cerrado</span>
                                                                <span ng-switch-when="7" class="label label-danger texto-estatus-ptc">Cancelado</span>
                                                                <button type="button" ng-if="( (registro.diasDif <= 4)&&(registro.diasDif >= 1) )  && (registro.estatus == 2)" class="btn btn-white btn-sm" tooltip-placement="top" tooltip="Faltan {{registro.diasDif}} d&iacute;as para que este curso inicie y no ha sido activado"><i class="fa fa-asterisk"></i></button>
                                                                <button type="button" ng-if="(registro.diasDif <= 0) && (registro.estatus == 2)" class="btn btn-white btn-sm" tooltip-placement="right" tooltip="Se ha vencido la fecha de inicio de este curso"><i class="fa fa-asterisk"></i></button>
                                                            </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>

                                                    <tabla-paginacion config="vm.tablaListaCursos" paginar="vm.cambiarPagina()"></tabla-paginacion>
                                        </div>
                                    </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-10">

                                    <div class="ibox">
                                        <div class="ibox-content" style="height:240px;">
                                            <div class="tab-content">
                                                <div class="tab-pane active" ng-show="vm.client == 1" ng-init="vm.client = 1">
                                                            <div class="row">
                                                                <div class="col-lg-12 text-center">
                                                                    <p>
                                                                        <h2>Seleccione un registro para ver los detalles</h2>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                </div>
                                                <div class="tab-pane active" ng-show="vm.client == 2">
                                                            <div class="panel blank-panel">

                                                                    <ul class="list-group clear-list">

                                                                        <li class="list-group-item fist-item" style="height: 60px">
                                                                            <span style="width: 420px;text-align: right;" class="pull-right"> {{vm.cursoSeleccionado.nombreCurso + ' (' + vm.cursoSeleccionado.modalidad + ')'}} </span>
                                                                            <strong>Curso o m&oacute;dulo</strong>
                                                                        </li>
                                                                        <li class="list-group-item">
                                                                            <span class="pull-right"> {{vm.cursoSeleccionado.localidad_pertenece.nombre}} </span>
                                                                            <strong>Localidad</strong>
                                                                        </li>
                                                                        <li class="list-group-item">
                                                                            <span class="pull-right"> {{vm.cursoSeleccionado.aulaAsignada}} </span>
                                                                            <strong>Aula asignada</strong>
                                                                        </li>
                                                                        <li class="list-group-item">
                                                                            <span class="pull-right"> <strong>Horario:</strong> {{vm.cursoSeleccionado.horario}} </span>
                                                                            <strong>Fecha inicio:</strong> {{vm.cursoSeleccionado.fechaInicio | date:'d/MMMM/yyyy'}}
                                                                        </li>
                                                                        <li class="list-group-item">
                                                                            <span class="pull-right"> 
                                                                            <span style="margin-right:20px;"> <strong>P&uacute;blico:</strong> <span class="label label-{{vm.cursoSeleccionado.publico === true ? 'primary' : 'warning'}}">{{vm.cursoSeleccionado.publico === true ? 'S&iacute;' : 'No'}}</span> </span>
                                                                                <strong>Estatus:</strong>
                                                                                <span ng-switch on="vm.cursoSeleccionado.estatus">
                                                                                    <span ng-switch-when="2" class="label label-warning">En espera</span>
                                                                                    <span ng-switch-when="4" class="label label-primary">Activo</span>
                                                                                    <span ng-switch-when="5" class="label label-success">Concluido</span>
                                                                                    <span ng-switch-when="6" class="label label-default">Cerrado</span>
                                                                                    <span ng-switch-when="7" class="label label-danger">Cancelado</span>
                                                                                </span>
                                                                            </span>                                                                            
                                                                            <strong>Costo:</strong> $ {{vm.cursoSeleccionado.costo}}
                                                                        </li>
                                                                    </ul>

                                                            </div> <!--panel blank-panel-->
                              
                                                </div> <!-- client == 2 -->
                                            </div>
                                        </div>
                                    </div> <!-- class ibox -->

                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>

                </div> <!-- column1 -->
                <div class="col-md-6">
                    
                    <div class="row">
                        <div class="col-md-12">

                                <div class="ibox">
                                    <div class="ibox-content" style="height:740px;">
                                        <div class="tab-content">
                                            <div class="tab-pane active" ng-show="vm.client == 1" ng-init="vm.client = 1">
                                                        <div class="row">
                                                            <div class="col-lg-12 text-center">
                                                                <p>
                                                                    <h2>Seleccione un registro para ver los detalles</h2>
                                                                </p>
                                                            </div>
                                                        </div>
                                            </div>
                                            <div class="tab-pane active" ng-show="vm.client == 2">
                                                        <div class="panel blank-panel">
                                                                <div class="row">
                                                                    <div class="col-lg-12 text-center">
                                                                        <p>
                                                                            <h2>Registro de inscripciones y pagos</h2>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <ul class="list-group clear-list">
                                                                    <li class="list-group-item">
                                                                        <span class="pull-right"> <button type="button" ng-disabled="((vm.cursoSeleccionado.cupoMaximo - vm.cursoSeleccionado.inscripcionesCursos.length) == 0)" ng-click="vm.registraInscripcion(vm.cursoSeleccionado)" class="btn btn-default btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-plus"></i></span> Registrar inscripci&oacute;n</button> </span>
                                                                        <h3>Lugares disponibles:
                                                                            <span class="label label-success" ng-show="((vm.cursoSeleccionado.inscripcionesCursos.length / vm.cursoSeleccionado.cupoMaximo) <= 0.25)">{{vm.cursoSeleccionado.cupoMaximo - vm.cursoSeleccionado.inscripcionesCursos.length}}</span>
                                                                            <span class="label label-warning" ng-show="((vm.cursoSeleccionado.inscripcionesCursos.length / vm.cursoSeleccionado.cupoMaximo) > 0.25 && (vm.cursoSeleccionado.inscripcionesCursos.length / vm.cursoSeleccionado.cupoMaximo) <= 0.75)">{{vm.cursoSeleccionado.cupoMaximo - vm.cursoSeleccionado.inscripcionesCursos.length}}</span>
                                                                            <span class="label label-danger"  ng-show="((vm.cursoSeleccionado.inscripcionesCursos.length / vm.cursoSeleccionado.cupoMaximo) > 0.75)">{{vm.cursoSeleccionado.cupoMaximo - vm.cursoSeleccionado.inscripcionesCursos.length}}</span>
                                                                        </h3>
                                                                    </li>
                                                                </ul>
                                                                <br>
                                                                <div  style="height: 580px;">
                                                                        <div class="full-height-scroll" full-scroll>
                                                
                                                                            <table class="table table-striped">
                                                                                <thead>
                                                                                <tr>
                                                                                    <th></th>
                                                                                    <th>N&uacute;m. control</th>
                                                                                    <th>Nombre</th>
                                                                                    <th>Pago</th>
                                                                                    <th>Recibo</th>
                                                                                    <th width="90">Acciones</th>
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                <tr ng-repeat="inscripcion in vm.cursoSeleccionado.inscripcionesCursos | orderObjectBy: 'Capacitandos.nombreCompleto' ">
                                                                                    <td> {{$index + 1}}</td>
                                                                                    <td> {{inscripcion.Capacitandos.numControl}}</td>
                                                                                    <td> {{inscripcion.Capacitandos.apellidoPaterno + ' ' + inscripcion.Capacitandos.apellidoMaterno + ' ' + inscripcion.Capacitandos.nombre}}</td>
                                                                                    <td class="client-status" ng-switch on="inscripcion.pagado">
                                                                                        <span ng-switch-when="0" class="label label-warning texto-estatus-ptc">Pendiente</span>
                                                                                        <span ng-switch-when="1" class="label label-success texto-estatus-ptc">Pagado</span>
                                                                                        <span ng-switch-when="2" class="label label-info texto-estatus-ptc">Exento al 100%</span>
                                                                                        <span ng-switch-when="3" class="label label-primary texto-estatus-ptc">Exento con porcentaje</span>
                                                                                    </td>
                                                                                    <td>{{inscripcion.numFactura}}</td>
                                                                                    <td>
                                                                                        <button ng-show="(inscripcion.pagado > 0)" type="button" class="btn btn-warning btn-sm" tooltip-placement="top" tooltip="Editar n&uacute;m. factura" ng-click="vm.editaNumFactura(inscripcion)"><i class="fa fa-pencil"></i></button>
                                                                                        <button ng-show="(inscripcion.pagado == 0)" type="button" class="btn btn-success btn-sm" tooltip-placement="top" tooltip="Registrar pago" ng-click="vm.registraPago(inscripcion)"><i class="fa fa-usd"></i></button>
                                                                                        <button type="button" class="btn btn-default btn-sm" tooltip-placement="top" tooltip="Eliminar capacitando" ng-click="vm.eliminaInscrito(inscripcion)"><i class="fa fa-trash-o"></i></button>
                                                                                    </td>
                                                                                </tr>

                                                                                </tbody>
                                                                            </table>
                                                                            
                                                                        </div>
                                                                </div>

                                                        </div> <!--panel blank-panel-->
                          
                                            </div> <!-- client == 2 -->
                                        </div>
                                    </div>
                                </div> <!-- class ibox -->


                        </div>
                    </div> <!-- row -->

                </div> <!-- column2 -->

    </div><!-- row principal -->
</div>
