<div class="loginColumns animated fadeInDown">

    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Sistema Control Escolar</h1>
        </div>
    </div>

    <hr/>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="ibox-content">
        
                <form class="m-t" role="form" ng-submit="vm.login()">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nombre de usuario" required="" ng-model="vm.user.username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" required="" ng-model="vm.user.password">
                    </div>
                    <button type="submit" class="btn btn-default block full-width m-b">Login</button>

                </form>

                <p class="m-t">
                    <div ng-show="vm.mostrar_msg_login" class="alert alert-{{vm.msg_color}}">{{vm.msg_login_txt}}</div>
                </p>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 style="font-size: 36px; font-weight: bold;">Instituto de Capacitaci&oacute;n para el Trabajo</h1>
            <h1 style="font-size: 36px; font-weight: bold;">ICATQR</h1>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="assets/img/logo_gobierno.jpg">
        </div>
    </div>

</div>