<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
                <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12">
                                    <div class="ibox">
                                        <div class="ibox-title">
                                            <div class="row">
                                                    <div class="col-md-12">
                                                        <h2>Pago de evaluaciones ROCO y Est&aacute;ndares</h2>
                                                    </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="input-group" style="margin-top:16px;">
                                                        <input type="text" ng-teclaenter="vm.muestraResultadosBusqueda()" placeholder="Curso a buscar" class="input form-control" ng-model="vm.cadena_buscar">
                                                                <span class="input-group-btn">
                                                                        <button class="btn btn-info btn-labeled" ng-click="vm.limpiaBusqueda()" ng-show="vm.mostrarbtnLimpiar"><span class="btn-label"><i class="fa fa-trash-o"></i></span> Limpiar</button>
                                                                        <button class="btn btn-default btn-labeled" ng-click="vm.muestraResultadosBusqueda()"><span class="btn-label"><i class="fa fa-search"></i></span> Buscar</button>
                                                                </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ibox-content">
                                            
                                                    <table class="tablaDatos table table-condensed no-footer">
                                                      <thead>
                                                        <tr>
                                                            <th>Tipo</th>
                                                            <th>Evaluaci&oacute;n</th>
                                                            <th>Fecha evaluaci&oacute;n</th>
                                                            <th>Hora</th>
                                                            <th style="width: 100px;">Estatus</th>
                                                        </tr>
                                                      </thead>
                                                     <tbody>
                                                        <tr ng-repeat="registro in vm.listaCursos" ng-click="vm.muestraDatosRegistroActual(registro)" ng-class="{seleccion:$index==vm.tablaListaEvaluaciones.fila_seleccionada}" class="pointer">

                                                            <td> {{(registro.tipoEvaluacion == 1 ? 'ROCO' : 'Estándar')}} </td>
                                                            <td> {{(registro.tipoEvaluacion == 1 ? registro.nombreCurso : registro.nombreEstandar)}}</td>
                                                            <td> {{registro.fechaEvaluacion | date:'d/MMMM/yyyy'}}</td>
                                                            <td> {{registro.horaEvaluacion}}</td>
                                                            <td class="client-status" ng-switch on="registro.estatus">
                                                                <span ng-switch-when="0" class="label label-default texto-estatus-ptc">Registrado</span>
                                                                <span ng-switch-when="1" class="label label-warning texto-estatus-ptc">En proceso de validaci&oacute;n</span>
                                                                <span ng-switch-when="2" class="label label-primary texto-estatus-ptc">Aprobada</span>
                                                                <span ng-switch-when="3" class="label label-warning texto-estatus-ptc">Rechazada</span>
                                                                <span ng-switch-when="4" class="label label-default texto-estatus-ptc">Concluida</span>
                                                                <span ng-switch-when="5" class="label label-default texto-estatus-ptc">Cancelada</span>
                                                            </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>

                                                    <tabla-paginacion config="vm.tablaListaEvaluaciones" paginar="vm.cambiarPagina()"></tabla-paginacion>
                                        </div>
                                    </div>
                            </div>
                        </div>

                </div> <!-- column1 -->
                <div class="col-md-5">
                    
                    <div class="row">
                        <div class="col-md-12">

                                <div class="ibox">
                                    <div class="ibox-content" style="height:620px;">
                                        <div class="tab-content">
                                            <div class="tab-pane active" ng-show="vm.client == 1" ng-init="vm.client = 1">
                                                <div class="row">
                                                    <div class="col-lg-12 text-center">
                                                        <p>
                                                            <h2>Seleccione un registro para ver los detalles</h2>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane active" ng-show="vm.client == 2">
                                                        <div class="panel blank-panel">
                                                                <div class="row">
                                                                    <div class="col-lg-12 text-center">
                                                                        <p>
                                                                            <h2>Registro del pago de la evaluaci&oacute;n</h2>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <br>
                                                                <div class="row">
                                                                        <div class="col-lg-12">
                                                                                <ul class="list-group clear-list">
                                                                                    <li class="list-group-item fist-item">
                                                                                        <span class="pull-right"> <td> {{(vm.cursoSeleccionado.tipoEvaluacion == 1 ? 'ROCO' : 'Estándar')}} </td> </span>
                                                                                        <strong>Tipo</strong>
                                                                                    </li>
                                                                                    <li class="list-group-item" style="height: 60px">
                                                                                        <span style="width: 420px;text-align: right;" class="pull-right"> {{(vm.cursoSeleccionado.tipoEvaluacion == 1 ? vm.cursoSeleccionado.nombreCurso : vm.cursoSeleccionado.nombreEstandar)}} </span>
                                                                                        <strong>Evaluaci&oacute;n</strong>
                                                                                    </li>
                                                                                    <li class="list-group-item">
                                                                                        <span class="pull-right"> {{vm.cursoSeleccionado.aulaAsignada}} </span>
                                                                                        <strong>Aula asignada</strong>
                                                                                    </li>
                                                                                    <li class="list-group-item">
                                                                                        <span class="pull-right"> <strong>Hora:</strong> {{vm.cursoSeleccionado.horaEvaluacion}} </span>
                                                                                        <strong>Fecha:</strong> {{vm.cursoSeleccionado.fechaEvaluacion | date:'d/MMMM/yyyy'}}
                                                                                    </li>
                                                                                    <li class="list-group-item">
                                                                                        <span class="pull-right"> 
                                                                                            <strong>Estatus:</strong>
                                                                                            <span ng-switch on="vm.cursoSeleccionado.estatus">
                                                                                                <span ng-switch-when="0" class="label label-default texto-estatus-ptc">Registrado</span>
                                                                                                <span ng-switch-when="1" class="label label-warning texto-estatus-ptc">En proceso de validaci&oacute;n</span>
                                                                                                <span ng-switch-when="2" class="label label-primary texto-estatus-ptc">Aprobada</span>
                                                                                                <span ng-switch-when="3" class="label label-warning texto-estatus-ptc">Rechazada</span>
                                                                                                <span ng-switch-when="4" class="label label-default texto-estatus-ptc">Concluida</span>
                                                                                                <span ng-switch-when="5" class="label label-default texto-estatus-ptc">Cancelada</span>
                                                                                            </span>
                                                                                        </span>                                                                            
                                                                                        <strong>Costo:</strong> $ {{vm.cursoSeleccionado.costo | currency}}
                                                                                    </li>
                                                                                </ul>

                                                                                <ul class="list-group clear-list">
                                                                                    <li class="list-group-item fist-item">
                                                                                        <span class="pull-right"> {{vm.cursoSeleccionado.inscripcionesEvaluaciones[0].Capacitandos.nombreCompleto}} </span>
                                                                                        <strong>Nombre</strong>
                                                                                    </li>
                                                                                    <li class="list-group-item">
                                                                                        <span class="pull-right"> <td> {{(vm.cursoSeleccionado.inscripcionesEvaluaciones[0].Capacitandos.numControl)}} </td> </span>
                                                                                        <strong>N&uacute;m. control</strong>
                                                                                    </li>
                                                                                    <li class="list-group-item">
                                                                                        <span class="pull-right"> 
                                                                                            <span ng-switch on="vm.cursoSeleccionado.inscripcionesEvaluaciones[0].pagado">
                                                                                                <span ng-switch-when="0" class="label label-warning texto-estatus-ptc">Pendiente</span>
                                                                                                <span ng-switch-when="1" class="label label-success texto-estatus-ptc" tooltip-placement="top" tooltip="{{inscripcion.observPago}}">Pagado</span>
                                                                                                <span ng-switch-when="2" class="label label-info texto-estatus-ptc" tooltip-placement="top" tooltip="{{inscripcion.observPago}}">Exento al 100%</span>
                                                                                                <span ng-switch-when="3" class="label label-primary texto-estatus-ptc" tooltip-placement="top" tooltip="{{inscripcion.observPago}}">Exento con porcentaje</span>
                                                                                            </span>
                                                                                        </span>
                                                                                        <strong>Estatus pago</strong>
                                                                                    </li>
                                                                                    <li class="list-group-item">
                                                                                        <span class="pull-right"> {{vm.cursoSeleccionado.inscripcionesEvaluaciones[0].numFactura}} </span>
                                                                                        <strong>Factura</strong>
                                                                                    </li>
                                                                                    <li class="list-group-item" style="height: 80px">
                                                                                        <span style="width: 420px;text-align: right;" class="pull-right"> {{vm.cursoSeleccionado.observPago}} </span>
                                                                                        <strong>Observaciones</strong>
                                                                                    </li>
                                                                                </ul>
                                                                        </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12 text-center">
                                                                        <button type="button" ng-show="(vm.cursoSeleccionado.inscripcionesEvaluaciones[0].pagado == 0)" ng-click="vm.registraPagoEval(vm.cursoSeleccionado.inscripcionesEvaluaciones[0])" class="btn btn-success btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-usd"></i></span>Registrar pago</button>
                                                                        <button type="button" ng-show="(vm.cursoSeleccionado.inscripcionesEvaluaciones[0].pagado > 0 && vm.cursoSeleccionado.estatus == 0)" ng-click="vm.editaNumFactura(vm.cursoSeleccionado.inscripcionesEvaluaciones[0])" class="btn btn-warning btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-pencil"></i></span> Editar n&uacute;m. factura</button>
                                                                    </div>
                                                                </div>

                                                        </div> <!--panel blank-panel-->
                          
                                            </div> <!-- client == 2 -->
                                        </div>
                                    </div>
                                </div> <!-- class ibox -->


                        </div>
                    </div> <!-- row -->

                </div> <!-- column2 -->

    </div><!-- row principal -->
</div>
