<div class="inmodal">
      <div class="modal-header">
          <h4 class="modal-title"> Evaluaci&oacute;n del instructor</h4>
      </div>
      <div class="modal-body" style="background: #fff;padding-bottom:0;">

        <form name="form_datos" class="form-horizontal">
                    <div class="row">
                            <div class="col-lg-12">
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="tablaDatos table table-condensed no-footer">
                                          <thead>
                                            <col width="20%">
                                            <col width="50%">
                                            <col width="10%">
                                            <col width="10%">
                                            <col width="10%">
                                            <tr>
                                                <th>Especialidad</th>
                                                <th>Curso</th>
                                                <th class="text-center">Modalidad</th>
                                                <th class="text-center">Horas</th>
                                                <th class="text-center">Puntaje</th>
                                            </tr>
                                          </thead>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="height: 350px;">
                                        <div class="full-height-scroll" full-scroll>
                                              <table class="tablaDatos table table-condensed no-footer">
                                                <thead>
                                                  <col width="20%">
                                                  <col width="50%">
                                                  <col width="10%">
                                                  <col width="10%">
                                                  <col width="10%">
                                                </thead>
                                               <tbody>
                                                  <tr ng-repeat="registro in vm.cursos_habilitados | orderBy:'nombreCurso'" class="pointer">
                                                      <td>{{registro.especialidad}}</td>
                                                      <td>{{registro.nombreCurso}}</td>
                                                      <td class="text-center">{{registro.modalidad}}</td>
                                                      <td class="text-center">{{registro.numeroHoras}}</td>
                                                      <td><input type="number" min="0" class="form-control" ng-model="registro.calificacion"></td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

        </form>



      </div>
      <div class="modal-footer">

          <div class="row">
              <div class="col-md-9">
                  <div ng-show="vm.mostrar_msg_error" class="alert alert-danger" style="padding: 4px; margin-bottom: 0; text-align: center;">{{vm.mensaje}}</div>
                  <div class="sk-spinner sk-spinner-three-bounce" ng-show="vm.mostrarSpiner">
                      <div class="sk-bounce1"></div>
                      <div class="sk-bounce2"></div>
                      <div class="sk-bounce3"></div>
                  </div>
              </div>
              <div class="col-md-3">
                  <button type="button" ng-click="$dismiss()" class="btn btn-white btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-sign-out"></i></span> Cancelar</button>
                  <button type="button" ng-click="vm.guardar()" ng-disabled="form_datos.$invalid" class="btn btn-default btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-check"></i></span> Guardar</button>
              </div>
          </div>

      </div>
</div>