<div class="inmodal">
      <div class="modal-header">
          <h4 class="modal-title"> Pre apertura curso del PTC</h4>
      </div>
      <div class="modal-body" style="background: #fff;">

        <div class="row">
          <div class="col-lg-12">
              <form name="form_search" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" style="width: 170px;">Curso</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="vm.registroEdicion.nombreCurso" readonly>
                        </div>
                    </div>
              </form>
          </div>
        </div>
        <br>
        <div class="row">
                <div class="col-lg-7">

                    <form name="form_datos" class="form-horizontal">
                          <div class="form-group">
                              <label class="col-sm-3 control-label">Clave curso</label>
                              <div class="col-sm-9">
                                  <input type="text" class="form-control" ng-model="vm.registroEdicion.claveCurso" readonly>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-3 control-label">Tipo</label>
                              <div class="col-sm-9">
                                  <input type="text" class="form-control" ng-model="vm.registroEdicion.modalidad" readonly>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-3 control-label">Localidad</label>
                              <div class="col-sm-9">
                                  <ui-select ng-model="vm.localidadSeleccionada.selected" theme="bootstrap" required>
                                      <ui-select-match placeholder="Escriba la localidad a buscar">
                                          {{$select.selected.nombre +', '+$select.selected.municipio}}
                                      </ui-select-match>
                                      <ui-select-choices repeat="localidad in vm.listaLocalidades | filter: { nombre: $select.search } | limitTo: ($select.search.length <= 1) ? 0 : undefined">
                                          <div ng-bind-html="localidad.nombre | highlight: $select.search"></div>
                                          <small>
                                            Municipio: {{localidad.municipio}}
                                          </small>
                                      </ui-select-choices>
                                      <ui-select-no-choice>
                                        {{($select.search.length > 1 ? 'No se encontr&oacute; ninguna localidad con el texto escrito' : '')}}
                                      </ui-select-no-choice>
                                  </ui-select>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-3 control-label">Horario</label>
                              <div class="col-sm-9">
                                  <input type="text" class="form-control" ng-model="vm.registroEdicion.horario" required>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-3 control-label">Aula asignada</label>
                              <div class="col-sm-9">
                                  <input type="text" class="form-control" ng-model="vm.registroEdicion.aulaAsignada" required>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-3 control-label">Horas semana</label>
                              <div class="col-sm-9">
                                  <div class="row">
                                      <div class="col-md-4">
                                          <input type="number" class="form-control" ng-model="vm.registroEdicion.semanas" required readonly>
                                      </div>
                                      <div class="col-md-4 text-right">
                                          <label class="control-label">Horas total</label>
                                      </div>
                                      <div class="col-md-4">
                                          <input type="number" class="form-control" ng-model="vm.registroEdicion.total" required readonly>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-3 control-label">Costo</label>

                              <div class="col-sm-9">
                                  <div class="row">

                                      <div class="col-md-4">
                                          <input type="number" class="form-control" ng-model="vm.registroEdicion.costo" required>
                                      </div>

                                      <div class="col-md-3">
                                          <label class="control-label">Curso p&uacute;blico</label>
                                      </div>

                                      <div class="col-md-4" style="padding-left:0;">
                                          <input type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" ng-model="vm.registroEdicion.publico"/>
                                      </div>

                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-3 control-label">Capacitandos</label>

                              <div class="col-sm-9">
                                  <div class="row">

                                      <div class="col-md-2">
                                          <input type="number" style="width:70px;" class="form-control" ng-model="vm.registroEdicion.capacitandos" required>
                                      </div>

                                      <div class="col-md-3" style="padding-right:0;">
                                              <label class="control-label">M&iacute;nimo inscritos</label>
                                      </div>

                                      <div class="col-md-2" style="padding-left:0;">
                                          <input type="number" style="width:70px;" class="form-control" min="1" max="99999" maxlength="5" ng-model="vm.registroEdicion.min_requerido_inscritos" required>
                                      </div>

                                      <div class="col-md-3" style="padding-right:0;">
                                              <label class="control-label">M&iacute;nimo pagados</label>
                                      </div>

                                      <div class="col-md-2" style="padding-left:0;">
                                          <input type="number" style="width:70px;" class="form-control" min="1" max="99999" maxlength="5" ng-model="vm.registroEdicion.min_requerido_pago" required>
                                      </div>

                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-3 control-label">Fecha inicio</label>
                              <div class="col-sm-9">
                                  <div class="row">
                                      <div class="col-md-4">
                                          <div class="input-group date" style="width: 155px;">
                                              <input type="text" readonly class="form-control" is-open="vm.opened1" datepicker-popup="d/M/yyyy" ui-date="dateOptions" ng-model="vm.registroEdicion.fechaInicio" required>
                                              <span class="input-group-addon" ng-click="vm.openCalendar1($event)"><i class="fa fa-calendar"></i></span>
                                          </div>
                                      </div>
                                      <div class="col-md-3 text-right">
                                          <label class="control-label">Fecha t&eacute;rmino</label>
                                      </div>
                                      <div class="col-md-5">
                                          <div class="input-group date" style="width: 155px;">
                                              <input type="text" readonly class="form-control" is-open="vm.opened2" datepicker-popup="d/M/yyyy" ui-date="dateOptions" ng-model="vm.registroEdicion.fechaFin" required>
                                              <span class="input-group-addon" ng-click="vm.openCalendar2($event)"><i class="fa fa-calendar"></i></span>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-3 control-label">Observaciones</label>
                              <div class="col-sm-9">
                                  <textarea class="form-control" ng-model="vm.registroEdicion.observaciones" rows="4" cols="90"></textarea>
                              </div>
                          </div>
                    </form>

                </div>
                <div class="col-lg-5">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3 style="margin-top:0;">Seleccione el instructor del curso</h3>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12" style="height: 380px;">
                            <div ng-repeat="registro in vm.registroEdicion.instructores_propuestos">
                                <div class="radio-inline" style="margin-bottom:10px;"><label> <input icheck type="radio" name="instructor" ng-model="vm.radioidInstructorSeleccionado" ng-value="{{registro.idInstructor}}"> {{registro.nombre_completo}} </label></div>
                            </div>
                        </div>

                    </div>
                    <br>
                    <!-- <div class="row">
                        <div class="col-md-12 text-left">
                            <h4 style="margin-top:0;">Otros instructores</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                              <select class="form-control m-b" 
                                  ng-model="vm.instructorSeleccionado"
                                  ng-options="instructor as instructor.nombre_completo for instructor in vm.listaInstructores" required>
                              </select>                        
                        </div>
                        <div class="col-md-4">
                              <button type="button" ng-disabled="(vm.instructorSeleccionado.idInstructor === undefined)" ng-click="vm.agregaInstructor()" class="btn btn-default btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-plus"></i></span> Agregar instructor</button>
                        </div>
                    </div> -->
                </div>
        </div>


      </div>
      <div class="modal-footer">

          <div class="row">
              <div class="col-md-7">
              </div>
              <div class="col-md-2">
                  <div ng-show="vm.mostrar_msg_error" class="alert alert-danger" style="padding: 4px; margin-bottom: 0; text-align: center;">Seleccione al instructor</div>
                  <div class="sk-spinner sk-spinner-three-bounce" ng-show="vm.mostrarSpiner">
                      <div class="sk-bounce1"></div>
                      <div class="sk-bounce2"></div>
                      <div class="sk-bounce3"></div>
                  </div>
              </div>
              <div class="col-md-3">
                  <button type="button" ng-click="$dismiss()" class="btn btn-white btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-sign-out"></i></span> Cancelar</button>
                  <button type="button" ng-click="vm.guardar()" ng-disabled="form_datos.$invalid" class="btn btn-default btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-check"></i></span> Guardar</button>
              </div>
          </div>

      </div>
</div>