<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
                <div class="col-md-7">
    
                        <div class="ibox">
                            <div class="ibox-title">
                                <h2>Pre apertura de cursos del PTC</h2>
                            </div>
                            <div class="ibox-content">
                                <div class="input-group" style="width: 600px;">
                                        <label class="col-md-3 control-label" style="margin-top:7px;">PTC autorizado:</label>
                                        <div class="col-md-9">
                                            <select class="form-control m-b" ng-model="vm.PTCSeleccionado" ng-change="vm.muestraCursosPTCseleccionado()" ng-options="ptc as (ptc.trimestretxt +' - '+ ptc.anio) for ptc in vm.listaPTCautorizados"></select>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- class ibox -->

                        <div class="ibox">
                            <div class="ibox-title">
                                <div class="row">
                                        <div class="col-md-12">
                                                <h2>Cursos del PTC seleccionado</h2>
                                        </div>
                                </div>
                            </div>
                            <div class="ibox-content">
                                
                                        <table class="tablaDatos table table-condensed no-footer">
                                          <thead>
                                            <tr>
                                                <th>Curso o m&oacute;dulo</th>
                                                <th>Tipo</th>
                                                <th>Fecha inicio</th>
                                                <th>Horario</th>
                                                <th>Aula asignada</th>
                                                <th>Estatus</th>
                                            </tr>
                                          </thead>
                                         <tbody>
                                            <tr ng-repeat="registro in vm.registrosCursosPTCs" ng-click="vm.muestraDatosRegistroActual(registro)" ng-class="{seleccion:$index==vm.tablaListaCursos.fila_seleccionada}" class="pointer">
                                                <td> {{registro.detalle_curso.nombreCurso}}</td>
                                                <td> {{registro.modalidad_pertenece.modalidad}}</td>
                                                <td> {{registro.fechaInicio | date:'d/MMMM/yyyy'}}</td>
                                                <td> {{registro.horario}}</td>
                                                <td> {{registro.aulaAsignada}}</td>
                                                <td class="client-status" ng-switch on="registro.estatus">
                                                    <span ng-switch-when="0" class="label label-default texto-estatus-ptc">Sin revisar</span>
                                                    <span ng-switch-when="1" class="label label-success texto-estatus-ptc">Aprobado</span>
                                                    <span ng-switch-when="2" class="label label-primary texto-estatus-ptc">Listo para enviar</span>
                                                    <span ng-switch-when="3" class="label label-warning texto-estatus-ptc">En proceso de revisi&oacute;n</span>
                                                    <span ng-switch-when="4" class="label label-danger texto-estatus-ptc">Rechazado</span>
                                                </td>
                                            </tr>
                                          </tbody>
                                        </table>

                                        <tabla-paginacion config="vm.tablaListaCursos" paginar="vm.cambiarPagina()"></tabla-paginacion>

                            </div>
                        </div>
                
                </div> <!-- column1 -->
                <div class="col-md-5">
                    
                    <div class="row">
                        <div class="col-md-12">

                                <div class="ibox">
                                    <div class="ibox-content" style="height:800px;">
                                        <div class="tab-content">
                                            <div class="tab-pane active" ng-show="vm.client == 1" ng-init="vm.client = 1">
                                                        <div class="row">
                                                            <div class="col-lg-12 text-center">
                                                                <p>
                                                                    <h2>Seleccione un registro para ver los detalles</h2>
                                                                </p>
                                                            </div>
                                                        </div>
                                            </div>
                                            <div class="tab-pane active" ng-show="vm.client == 2">
                                                        <div class="panel blank-panel">

                                                                <tabset>
                                                                    <tab heading="Curso propuesto para ofertar" ng-show="(vm.CursoPTCSeleccionado.curso_oficial_registrado.length > 0)" active="vm.tabs[0].active">

                                                                            <ul class="list-group clear-list">
                                                                                <li class="list-group-item fist-item">
                                                                                    <span class="pull-right"> {{vm.CursoPTCSeleccionado.curso_oficial_registrado[0].idCurso}} </span>
                                                                                    ID
                                                                                </li>
                                                                                <li style="height: 60px" class="list-group-item">
                                                                                    <span style="width: 300px;text-align: right;" class="pull-right"> {{vm.CursoPTCSeleccionado.curso_oficial_registrado[0].nombreCurso}} </span>
                                                                                    Curso o m&oacute;dulo
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.CursoPTCSeleccionado.curso_oficial_registrado[0].modalidad}} </span>
                                                                                    Tipo
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.CursoPTCSeleccionado.curso_oficial_registrado[0].localidad_pertenece.nombre +', '+ vm.CursoPTCSeleccionado.curso_oficial_registrado[0].localidad_pertenece.municipio}} </span>
                                                                                    Localidad
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.CursoPTCSeleccionado.curso_oficial_registrado[0].horario}} </span>
                                                                                    Horario
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> Horas total: {{vm.CursoPTCSeleccionado.curso_oficial_registrado[0].numeroHoras}} </span>
                                                                                    Horas semana: {{vm.CursoPTCSeleccionado.curso_oficial_registrado[0].horasSemana}}
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.CursoPTCSeleccionado.curso_oficial_registrado[0].aulaAsignada}} </span>
                                                                                    Aula asignada
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.CursoPTCSeleccionado.curso_oficial_registrado[0].costo | currency}} </span>
                                                                                    Costo
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right label label-{{vm.CursoPTCSeleccionado.curso_oficial_registrado[0].publico === true ? 'primary' : 'warning'}}">{{vm.CursoPTCSeleccionado.curso_oficial_registrado[0].publico === true ? 'S&iacute;' : 'No'}}</span>
                                                                                    P&uacute;blico
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.CursoPTCSeleccionado.curso_oficial_registrado[0].cupoMaximo}} </span>
                                                                                    Cupo m&aacute;ximo
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.CursoPTCSeleccionado.curso_oficial_registrado[0].minRequeridoInscritos}} </span>
                                                                                    M&iacute;nimo inscritos
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.CursoPTCSeleccionado.curso_oficial_registrado[0].minRequeridoPago}} </span>
                                                                                    M&iacute;nimo inscritos pagados
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.CursoPTCSeleccionado.curso_oficial_registrado[0].fechaInicio | date:'d/MMMM/yyyy'}} </span>
                                                                                    Fecha inicio
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.CursoPTCSeleccionado.curso_oficial_registrado[0].fechaFin | date:'d/MMMM/yyyy'}} </span>
                                                                                    Fecha t&eacute;rmino
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.CursoPTCSeleccionado.curso_oficial_registrado[0].nombreInstructor}} </span>
                                                                                    Instructor
                                                                                </li>
                                                                                <li style="height: 80px" class="list-group-item">
                                                                                    <span class="pull-right" style="width: 300px;text-align: right;"> {{vm.CursoPTCSeleccionado.curso_oficial_registrado[0].observaciones}} </span>
                                                                                    Observaciones
                                                                                </li>
                                                                            </ul>
                                                                            <div class="row">
                                                                                <div class="col-md-12 text-center">
                                                                                    <button type="button" ng-show="( (vm.CursoPTCSeleccionado.estatus == 0 || vm.CursoPTCSeleccionado.estatus == 2 || vm.CursoPTCSeleccionado.estatus == 4) && vm.CursoPTCSeleccionado.curso_oficial_registrado.length > 0)" ng-click="vm.editaCurso(vm.CursoPTCSeleccionado)" class="btn btn-primary btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-pencil"></i></span>Editar curso propuesto</button>
                                                                                    <button type="button" ng-show="( (vm.CursoPTCSeleccionado.estatus == 0 || vm.CursoPTCSeleccionado.estatus == 2 || vm.CursoPTCSeleccionado.estatus == 4) && vm.CursoPTCSeleccionado.curso_oficial_registrado.length > 0)" ng-click="vm.eliminaCurso(vm.CursoPTCSeleccionado)" class="btn btn-warning btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-trash-o"></i></span>Eliminar curso</button>
                                                                                    <button type="button" ng-show="(vm.CursoPTCSeleccionado.estatus == 2)" ng-click="vm.enviaCursoRevision(vm.CursoPTCSeleccionado)" class="btn btn-success btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-upload"></i></span> Enviar a revisi&oacute;n</button>
                                                                                    <!-- <button type="button" ng-show="(vm.CursoPTCSeleccionado.estatus == 3)" ng-click="vm.imprimeDocValidacion(vm.CursoPTCSeleccionado)" class="btn btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-print"></i></span> Imprimir Doc. validaci&oacute;n</button> -->
                                                                                </div>
                                                                            </div>
                                                                    </tab>

                                                                    <tab heading="Curso programado en el PTC" ng-init="true" active="vm.tabs[1].active">

                                                                            <ul class="list-group clear-list">
                                                                                <li style="height: 60px" class="list-group-item fist-item">
                                                                                    <span style="width: 300px;text-align: right;" class="pull-right"> {{vm.CursoPTCSeleccionado.detalle_curso.nombreCurso}} </span>
                                                                                    Curso o m&oacute;dulo
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.CursoPTCSeleccionado.modalidad_pertenece.modalidad}} </span>
                                                                                    Modalidad
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.CursoPTCSeleccionado.horario}} </span>
                                                                                    Horario
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.CursoPTCSeleccionado.aulaAsignada}} </span>
                                                                                    Aula asignada
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.CursoPTCSeleccionado.capacitandos}} </span>
                                                                                    Capacitandos
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.CursoPTCSeleccionado.semanas}} </span>
                                                                                    Horas semana
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.CursoPTCSeleccionado.total}} </span>
                                                                                    Horas total
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.CursoPTCSeleccionado.fechaInicio | date:'d/MMMM/yyyy'}} </span>
                                                                                    Fecha inicio
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.CursoPTCSeleccionado.fechaFin | date:'d/MMMM/yyyy'}} </span>
                                                                                    Fecha t&eacute;rmino
                                                                                </li>
                                                                                <li style="height: 80px" class="list-group-item">
                                                                                    <span class="pull-right" style="text-align: right;">
                                                                                        <ul>
                                                                                            <li ng-repeat="instructor in vm.CursoPTCSeleccionado.instructores_propuestos">{{instructor.apellidoPaterno + ' ' + instructor.apellidoMaterno + ' ' + instructor.nombre}}</li>
                                                                                        </ul>                                                                                        
                                                                                    </span>
                                                                                    Instructores propuestos
                                                                                </li>
                                                                                <li style="height: 80px" class="list-group-item">
                                                                                    <span class="pull-right" style="width: 300px;text-align: right;"> {{vm.CursoPTCSeleccionado.observaciones}} </span>
                                                                                    Observaciones
                                                                                </li>
                                                                            </ul>
                                                                            <br>
                                                                            <div class="row">
                                                                                <div class="col-md-12 text-center">
                                                                                    <button type="button" ng-show="(vm.CursoPTCSeleccionado.estatus == 0)" ng-click="vm.abreCurso(vm.CursoPTCSeleccionado)" class="btn btn-default btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-check"></i></span> Pre aperturar este curso</button>
                                                                                </div>
                                                                            </div>
                                                                    </tab>
                                                                </tabset>

                                                        </div> <!--panel blank-panel-->
                          
                                            </div> <!-- client == 2 -->
                                        </div>
                                    </div>
                                </div> <!-- class ibox -->


                        </div>
                    </div> <!-- row -->

                </div> <!-- column2 -->

    </div><!-- row principal -->
</div>
