<div class="row border-bottom">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar-top-links">

                <li class="dropdown" dropdown ng-if="currentUser.perfil_menu.usuarios_sistema">
                    <a class="dropdown-toggle" href dropdown-toggle  style="color: #fff;">Usuarios <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.usuarios_sistema">
                            <a ui-sref="admin.usuarios"><i class="fa fa-user"></i> <span class="nav-label">Usuarios del sistema </span></a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" dropdown ng-if="(currentUser.perfil_menu.catalogos_temas || currentUser.perfil_menu.catalogos_especialidades || currentUser.perfil_menu.catalogos_cursos)">
                    <a class="dropdown-toggle" href dropdown-toggle  style="color: #fff;">Cat&aacute;logos <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.catalogos_temas">
                            <a ui-sref="index.catalogo_temas">          <span class="nav-label"> Campo de formaci&oacute;n </span></a>
                        </li>
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.catalogos_especialidades">
                            <a ui-sref="index.catalogo_especialidades"> <span class="nav-label"> Cat&aacute;logo de especialidades </span></a>
                        </li>
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.catalogos_cursos">
                            <a ui-sref="index.catalogo_cursos">         <span class="nav-label"> Cat&aacute;logo general de cursos </span></a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" dropdown ng-if="(currentUser.perfil_menu.instructores_catinstructores || currentUser.perfil_menu.instructores_consinstructores)">
                    <a class="dropdown-toggle" href dropdown-toggle style="color: #fff;">Instructores <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.instructores_catinstructores">
                            <a ui-sref="instructores.admin_instructores">  <span class="nav-label"> Cat&aacute;logo de instructores </span></a>
                        </li>
                        <li style="border: 1px solid #e7eaec"></li>
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.instructores_valinstructores">
                            <a ui-sref="instructores.validacion_instructores">  <span class="nav-label"> Validaci&oacute;n de instructores </span></a>
                        </li>

                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.instructores_consinstructores">
                            <a ui-sref="instructores.consulta_instructores">  <span class="nav-label"> Consulta de instructores </span></a>
                        </li>
                        <li style="border: 1px solid #e7eaec"></li>
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.instructores_propinstructores">
                            <a ui-sref="instructores.propuestas_instructores">  <span class="nav-label"> Revisi&oacute;n de propuestas de instructores </span></a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" dropdown ng-if="(currentUser.perfil_menu.plan_cursos_horas_unidad || currentUser.perfil_menu.plan_cursos_metas_capacit || currentUser.perfil_menu.plan_cursos_planeacion_ptc || currentUser.perfil_menu.plan_cursos_revision_ptc || currentUser.perfil_menu.plan_cursos_ptc_autorizados || currentUser.perfil_menu.plan_cursos_resumen_ptc_unidades)">
                    <a class="dropdown-toggle" href dropdown-toggle style="color: #fff;">Planeaci&oacute;n de Cursos <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.plan_cursos_horas_unidad">
                            <a ui-sref="ptc.asigna_horas">    <span class="nav-label"> Asingaci&oacute;n de horas por unidad </span></a>
                        </li>
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.plan_cursos_metas_capacit">
                            <a ui-sref="ptc.asigna_metas">    <span class="nav-label"> Asingaci&oacute;n de metas de capacitandos </span></a>
                        </li>
                        <li ng-if="currentUser.perfil_menu.plan_cursos_planeacion_ptc" style="border: 1px solid #e7eaec"></li>
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.plan_cursos_planeacion_ptc">
                            <a ui-sref="ptc.planeacion_ptc">    <span class="nav-label"> Planeaci&oacute;n del PTC </span></a>
                        </li>
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.plan_cursos_revision_ptc">
                            <a ui-sref="ptc.revision_ptc">      <span class="nav-label"> Revisi&oacute;n PTC unidades </span></a>
                        </li>
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.plan_cursos_ptc_autorizados">
                            <a ui-sref="ptc.pct_autorizados">   <span class="nav-label"> PTC autorizados </span></a>
                        </li>
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.plan_cursos_resumen_ptc_unidades">
                            <a ui-sref="ptc.resumen_ptc_unidades">   <span class="nav-label"> Resumen PTC Unidades </span></a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" dropdown ng-if="(currentUser.perfil_menu.pre_cursos_eval_cursos_ptc || currentUser.perfil_menu.pre_cursos_eval_cursos_fuera_ptc || currentUser.perfil_menu.pre_cursos_eval_validacion_cursos || currentUser.perfil_menu.pre_cursos_eval_roco_estandar || currentUser.perfil_menu.pre_cursos_eval_validacion_roco_estandar)">
                    <a class="dropdown-toggle" href dropdown-toggle style="color: #fff;">Preapertura de cursos y evaluaciones <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.pre_cursos_eval_cursos_ptc">
                            <a ui-sref="pre_apertura.cursos_ptc">    <span class="nav-label"> Cursos del PTC </span></a>
                        </li>
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.pre_cursos_eval_cursos_fuera_ptc">
                            <a ui-sref="pre_apertura.cursos_ptc_extra">   <span class="nav-label"> Cursos fuera del PTC </span></a>
                        </li>
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.pre_cursos_eval_validacion_cursos">
                            <a ui-sref="pre_apertura.valida_apertura_cursos"><span class="nav-label"> Validaci&oacute;n de cursos para pre-apertura </span></a>
                        </li>

                        <li style="border: 1px solid #e7eaec"></li>
                        
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.pre_cursos_eval_roco_estandar">
                            <a ui-sref="pre_apertura.roco_estandares">   <span class="nav-label"> ROCO y Est&aacute;ndares de competencia</span></a>
                        </li>
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.pre_cursos_eval_validacion_roco_estandar">
                            <a ui-sref="pre_apertura.valida_evaluaciones"><span class="nav-label"> Validaci&oacute;n de evaluaciones </span></a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" dropdown ng-if="(currentUser.perfil_menu.cursos_eval_autorizados_cursos_vigentes || currentUser.perfil_menu.cursos_eval_autorizados_cursos_historicos || currentUser.perfil_menu.cursos_eval_autorizados_eval_vigentes || currentUser.perfil_menu.cursos_eval_autorizados_eval_historicos)">
                    <!-- <a class="dropdown-toggle" href dropdown-toggle style="color: #fff;">Cursos autorizados <span class="caret"></span></a> -->
                    <a class="dropdown-toggle" href dropdown-toggle style="color: #fff;">Cursos y evaluaciones autorizados <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.cursos_eval_autorizados_cursos_vigentes">
                            <a ui-sref="cursos_autorizados.resumen_cursos({ tipo: 'activos' })">        <span class="nav-label"> Cursos vigentes </span></a>
                        </li>
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.cursos_eval_autorizados_cursos_historicos">
                            <a ui-sref="cursos_autorizados.resumen_cursos({ tipo: 'historicos' })">  <span class="nav-label">Hist&oacute;rico de cursos </span></a>
                        </li>

                        <li style="border: 1px solid #e7eaec"></li>
                        
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.cursos_eval_autorizados_eval_vigentes">
                            <a ui-sref="evaluaciones_autorizadas.resumen_evaluaciones({ tipo: 'activos' })">        <span class="nav-label"> Evaluaciones vigentes </span></a>
                        </li>
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.cursos_eval_autorizados_eval_historicos">
                            <a ui-sref="evaluaciones_autorizadas.resumen_evaluaciones({ tipo: 'historicos' })">  <span class="nav-label">Hist&oacute;rico de evaluaciones </span></a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" dropdown ng-if="(currentUser.perfil_menu.inscrip_pagos_registro_pago_curso || currentUser.perfil_menu.inscrip_pagos_registro_pago_eval)">
                    <a class="dropdown-toggle" href dropdown-toggle style="color: #fff;">Inscripciones y pagos <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.inscrip_pagos_registro_pago_curso">
                            <a ui-sref="inscripcion.registro_inscripcion_pagos_cursos"> <span class="nav-label"> Registro de Inscripci&oacute;n o pago a cursos</span></a>
                        </li>
                        <li style="border: 1px solid #e7eaec"></li>
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.inscrip_pagos_registro_pago_eval">
                            <a ui-sref="inscripcion.registro_pagos_evaluaciones"> <span class="nav-label"> Registro de pago evaluaciones</span></a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" dropdown ng-if="(currentUser.perfil_menu.registro_capacitandos_menu)">
                    <a class="dropdown-toggle" href dropdown-toggle style="color: #fff;">Capacitandos <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.registro_capacitandos_menu">
                            <a ui-sref="capacitandos.principal_capacitandos">    <span class="nav-label"> Registro de capacitandos </span></a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" dropdown ng-if="(currentUser.perfil_menu.reportes_resumen_alumnos_cursos || currentUser.perfil_menu.reportes_bitacora)">
                    <a class="dropdown-toggle" href dropdown-toggle style="color: #fff;">Reportes <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.reportes_resumen_alumnos_cursos">
                            <a ui-sref="reportes.resumen_general">    <span class="nav-label"> Resumen de alumnos y cursos </span></a>
                        </li>
                        <li ui-sref-active="active" ng-if="currentUser.perfil_menu.reportes_bitacora">
                            <a ui-sref="reportes.bitacora">           <span class="nav-label">Bit&aacute;cora de eventos </span></a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" dropdown ng-if="(currentUser.perfil_menu.tutorial_menu)">
                    <a class="dropdown-toggle" href dropdown-toggle style="color: #fff;">Tutorial <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu" style="left: -100px;">
                        <li ui-sref-active="active" ng-if="(currentUser.unidad_pertenece_id > 1)">
                            <a ui-sref="tutorial.ver_video({ id_video: 1 })"> <span class="nav-label">1.- Modificaci&oacute;n y env&iacute;o del PTC </span></a>
                        </li>
                        <li ui-sref-active="active" ng-if="(currentUser.unidad_pertenece_id > 1)">
                            <a ui-sref="tutorial.ver_video({ id_video: 2 })"> <span class="nav-label">2.- Preapertura de un curso programado en el PTC </span></a>
                        </li>
                        <li ui-sref-active="active" ng-if="(currentUser.unidad_pertenece_id > 1)">
                            <a ui-sref="tutorial.ver_video({ id_video: 3 })"> <span class="nav-label">3.- Preapertura de un curso fuera del PTC </span></a>
                        </li>
                        <li ui-sref-active="active" ng-if="(currentUser.unidad_pertenece_id > 1)">
                            <a ui-sref="tutorial.ver_video({ id_video: 4 })"> <span class="nav-label">4.- Administración de cursos vigentes </span></a>
                        </li>
                        <li ui-sref-active="active" ng-if="(currentUser.unidad_pertenece_id > 1)">
                            <a ui-sref="tutorial.ver_video({ id_video: 5 })"> <span class="nav-label">5.- Registro de inscripción y pagos </span></a>
                        </li>
                        <li ui-sref-active="active" ng-if="(currentUser.unidad_pertenece_id > 1)">
                            <a ui-sref="tutorial.ver_video({ id_video: 6 })"> <span class="nav-label">6.- Conclusión y cierre del curso </span></a>
                        </li>

                        <li style="border: 1px solid #e7eaec"></li>
                        <li ui-sref-active="active">
                            <a href="manual_usuario_unidad_control_escolar.pdf" target="_blank"><span class="nav-label">Manual del sistema </span></a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" dropdown ng-if="(currentUser.perfil_menu.encuestas_menu)">
                    <a class="dropdown-toggle" href dropdown-toggle style="color: #fff;">Encuestas de satisfacci&oacute;n <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li ui-sref-active="active" ng-if="(currentUser.perfil_menu.encuestas_participante_curso)">
                            <a ui-sref="encuestas.participante_curso"> <span class="nav-label">Encuesta para el participante </span></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a ui-sref="logout">Salir <i class="fa fa-sign-out"></i></a>
                </li>
                <!-- <li ng-if="(currentUser.unidad_pertenece_id > 1)" tooltip-placement="bottom" tooltip="Manual del sistema">
                    <a href="manual_usuario_unidad_control_escolar.pdf" target="_blank" style="padding: 14px 2px;"><i class="fa fa-question-circle fa-lg"></i></a>
                    <a href="manual_usuario_unidad_control_escolar.pdf" target="_blank"><button type="button" class="btn btn-warning btn-sm" tooltip-placement="bottom" tooltip="Manual del sistema"><i class="fa fa-question-circle fa-lg"></i></button></a>
                </li> -->
            </ul>
        </div>
    </nav>
</div>