<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
                <div class="col-md-2">
                    <div class="ibox">
                        <div class="ibox-content" style="height:240px;">
                            <div class="tab-content">
                                <div class="tab-pane active" ng-show="(vm.anioSeleccionado.anio == undefined)" ng-init="(vm.anioSeleccionado.anio == undefined)">
                                            <div class="row">
                                                <div class="col-lg-12 text-center">
                                                    <p>
                                                        <h3>Seleccione un año para ver los detalles</h3>
                                                    </p>
                                                </div>
                                            </div>
                                </div>
                                <div class="tab-pane active" ng-show="(vm.anioSeleccionado.anio !== undefined)">
                                            <div class="panel blank-panel text-center">

                                                    <h2>A&ntilde;o</h2>
                                                    <h4>{{vm.anioSeleccionado.anio}}</h4>
                                                    <h3>Horas asignadas</h3>
                                                    <span>{{vm.anioSeleccionado.horasAsignadas | number:0}}</span>
                                                    <h3>Horas disponibles</h3>
                                                    <span>{{vm.horas_disponibles | number:0}}</span>
                                            </div> <!--panel blank-panel-->
              
                                </div> <!-- client == 2 -->
                            </div>
                        </div>
                    </div> <!-- class ibox -->
                </div>
                <div class="col-md-10">
    
                        <div class="ibox">
                            <div class="ibox-title">
                                <div class="row">
                                        <div class="col-md-6">
                                                <h2 style="font-size:1.8em;">Programa Trimestral de Cursos</h2>
                                        </div>
                                        <div class="col-md-4">
                                                        <div class="input-group" style="margin-top:7px;width: 330px;">
                                                                <label class="col-md-3 control-label" style="margin-top:7px;">Unidad:</label>
                                                                <div class="col-md-9">
                                                                    <select class="form-control m-b" ng-model="vm.unidadSeleccionada" ng-change="vm.muestra_ptc_unidad()" ng-options="unidad as unidad.nombre for unidad in vm.listaUnidades"></select>
                                                                </div>
                                                        </div>
                                        </div>
                                        <div class="col-md-2">
                                                        <div class="input-group" style="margin-top:7px;">
                                                                <label class="col-md-3 control-label" style="margin-top:7px;">A&ntilde;o:</label>
                                                                <div class="col-md-9">
                                                                    <select class="form-control m-b" ng-model="vm.anioSeleccionado" ng-change="vm.muestra_ptc_unidad_anio()" ng-options="registro as registro.anio for registro in vm.listaAniosDisp"></select>
                                                            </div>
                                                        </div>
                                        </div>
                                </div>
                            </div>
                            <div class="ibox-content">
                                                             
                                        <table class="tablaDatos table table-condensed no-footer">
                                          <thead>
                                            <tr>
                                                <!-- <th ng-show="(currentUser.unidad_pertenece_id == 1)">Unidad</th>
                                                <th>A&ntilde;o</th> -->
                                                <th>Trimestre</th>
                                                <th>Fecha creaci&oacute;n</th>
                                                <!-- <th>Fecha modificaci&oacute;n</th> -->
                                                <th>Fecha env&iacute;o revisi&oacute;n</th>
                                                <th>N&uacute;m. cursos</th>
                                                <th>Total horas</th>
                                                <th>Estatus</th>
                                                <th>Revisado Programas</th>
                                                <th>Aprobado Acad&eacute;mica</th>
                                                <th>Aprobado Planeaci&oacute;n</th>
                                                <th>Acciones</th>
                                            </tr>
                                          </thead>
                                         <tbody>
                                            <tr ng-repeat="registro in vm.registrosPTCs" ng-click="vm.muestraCursosPTCActual(registro)" ng-class="{seleccion:$index==vm.tablaListaPTCs.fila_seleccionada}" class="pointer">
                                                <!-- <td ng-show="(currentUser.unidad_pertenece_id == 1)"> {{registro.unidad_pertenece.nombre}}</td>
                                                <td> {{registro.anio}}</td> -->
                                                <td class="client-status" ng-switch on="registro.trimestre">
                                                    <span ng-switch-when="1">PRIMERO (ENERO - MARZO)</span>
                                                    <span ng-switch-when="2">SEGUNDO (ABRIL - JUNIO)</span>
                                                    <span ng-switch-when="3">TERCERO (JULIO - SEPTIEMBRE)</span>
                                                    <span ng-switch-when="4">CUARTO (OCTUBRE - DICIEMBRE)</span>
                                                </td>

                                                <td> {{registro.fechaElaboracion | date:'d/MMMM/yyyy'}}</td>
                                                <!-- <td> {{registro.fechaModificacion | date:'d/MMMM/yyyy'}}</td> -->
                                                <td> {{registro.fechaEnvioRevision | date:'d/MMMM/yyyy'}}</td>
                                                <td> {{registro.cursos_programados.length}}</td>
                                                <td> {{registro.horasSeparadas}}</td>
                                                <td class="client-status" ng-switch on="registro.estatus">
                                                    <span ng-switch-when="0" class="label label-info texto-estatus-ptc">Sin revisar</span>
                                                    <span ng-switch-when="1" class="label label-warning texto-estatus-ptc">En revisi&oacute;n</span>
                                                    <span ng-switch-when="2" class="label label-success texto-estatus-ptc">Aprobado</span>
                                                    <span ng-switch-when="3" class="label label-danger texto-estatus-ptc">Rechazado</span>
                                                    <span ng-switch-when="4" class="label label-white texto-estatus-ptc">Cerrado</span>
                                                </td>
                                                
                                                <td class="client-status"><span class="label label-{{registro.revisadoProgramas === true ? 'primary' : 'warning'}}">{{registro.revisadoProgramas === true ? 'S&iacute;' : 'No'}}</span></td>
                                                <td class="client-status"><span class="label label-{{registro.aprobadoAcademica === true ? 'primary' : 'warning'}}">{{registro.aprobadoAcademica === true ? 'S&iacute;' : 'No'}}</span></td>
                                                <td class="client-status"><span class="label label-{{registro.aprobadoPlaneacion === true ? 'primary' : 'warning'}}">{{registro.aprobadoPlaneacion === true ? 'S&iacute;' : 'No'}}</span></td>

                                                <td style="width:120px">
                                                    <!-- <button type="button" class="btn btn-sm"><i class="fa fa-print" tooltip-placement="top" tooltip="Imprime el PTC completo"></i></button> -->
                                                    <button type="button" ng-show="( (currentUser.perfil == 'programas') && (registro.revisadoProgramas == false) && (registro.estatus == 1) )" ng-click="vm.aceptaPTC(registro)" class="btn btn-primary btn-sm" tooltip-placement="top" tooltip="Marcar como revisado este PTC por parte del &aacute;rea de programas de capacitaci&oacute;n"><i class="fa fa-check"></i></button>
                                                    <button type="button" ng-show="( (currentUser.perfil == 'dir_academica') && (registro.revisadoProgramas == true) && (registro.aprobadoAcademica == false) && (registro.estatus == 1) )" ng-click="vm.aceptaPTC(registro)" class="btn btn-primary btn-sm" tooltip-placement="top" tooltip="Aprobar este PTC por parte del &aacute;rea acad&eacute;mica"><i class="fa fa-check"></i></button>
                                                    <!-- <button type="button" ng-show="( (currentUser.perfil == 'dir_planeacion') && (registro.aprobadoAcademica == true) && (registro.aprobadoPlaneacion == false) && (registro.estatus == 1) )" ng-click="vm.aceptaPTC(registro)" class="btn btn-primary btn-sm" tooltip-placement="top" tooltip="Aprobar este PTC por parte del &aacute;rea de planeaci&oacute;n"><i class="fa fa-check"></i></button> -->
                                                    <button type="button" ng-show="( (currentUser.perfil == 'dir_gral') && (registro.aprobadoAcademica == true) && (registro.aprobadoDireccionGral == false) && (registro.estatus == 1) )" ng-click="vm.aceptaPTC(registro)" class="btn btn-primary btn-sm" tooltip-placement="top" tooltip="Aprobar y aceptar este PTC"><i class="fa fa-check"></i></button>
                                                    
                                                    <button type="button" ng-show="( (currentUser.perfil == 'programas') && (registro.revisadoProgramas == false) && (registro.estatus == 1) )" ng-click="vm.rechazaPTC(registro)" class="btn btn-danger btn-sm" tooltip-placement="top" tooltip="Rechazar este PTC"><i class="fa fa-times"></i></button>
                                                    <button type="button" ng-show="( (currentUser.perfil == 'dir_academica') && (registro.revisadoProgramas == true) && (registro.aprobadoAcademica == false) && (registro.estatus == 1) )" ng-click="vm.rechazaPTC(registro)" class="btn btn-danger btn-sm" tooltip-placement="top" tooltip="Regresar este PTC a programas para su revisi&oacute;n"><i class="fa fa-times"></i></button>
                                                    <!-- <button type="button" ng-show="( (currentUser.perfil == 'dir_planeacion') && (registro.aprobadoAcademica == true) && (registro.aprobadoPlaneacion == false) && (registro.estatus == 1) )" ng-click="vm.rechazaPTC(registro)" class="btn btn-danger btn-sm" tooltip-placement="top" tooltip="Regresar este PTC al &aacute;rea acad&eacute;mica para su revisi&oacute;n"><i class="fa fa-times"></i></button> -->
                                                    <button type="button" ng-show="( (currentUser.perfil == 'dir_gral') && (registro.aprobadoAcademica == true) && (registro.aprobadoDireccionGral == false) && (registro.estatus == 1) )" ng-click="vm.rechazaPTC(registro)" class="btn btn-danger btn-sm" tooltip-placement="top" tooltip="Regresar este PTC al &aacute;rea de planeaci&oacute;n para su revisi&oacute;n"><i class="fa fa-times"></i></button>
                                                </td>
                                            </tr>
                                          </tbody>
                                        </table>

                                        <tabla-paginacion config="vm.tablaListaPTCs" paginar="vm.cambiarPaginaPrincipal()"></tabla-paginacion>

                            </div>
                        </div>
                
                </div> <!-- column1 -->
                <div class="col-md-1">
                </div>

    </div><!-- row principal -->


    <div class="row">

                <div class="col-md-12">
                    
                            <div class="row">
                                <div class="col-md-12">

                                <div class="ibox">
                                    <div class="ibox-title">
                                        <div class="row">
                                                <div class="col-md-5">
                                                        <h2>Cursos programados</h2>
                                                </div>
                                                <div class="col-md-7 text-right" ng-show="( (currentUser.unidad_pertenece_id > 1) && ((vm.RegistroPTCSeleccionado.estatus == 0)||(vm.RegistroPTCSeleccionado.estatus == 3)) )">
                                                        <div class="mail-tools">
                                                                <button class="btn btn-default btn-labeled" ng-click="vm.nuevoCursoPTC()"><span class="btn-label"><i class="fa fa-plus"></i></span> Agregar curso</button>
                                                        </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="ibox-content">

                                        <div class="tab-pane active" ng-show="vm.client == 1" ng-init="vm.client = 1">
                                                    <div class="row">
                                                        <div class="col-lg-12 text-center">
                                                            <p>
                                                                <h2>No se encontr&oacute; ning&uacute;n curso</h2>
                                                            </p>
                                                        </div>
                                                    </div>
                                        </div>
                                        <div class="tab-pane active" ng-show="vm.client == 2">
                                        
                                                <table class="tablaDatos table table-condensed no-footer">
                                                  <thead>
                                                    <tr>
                                                        <th>Instructores propuestos</th>
                                                        <th>Curso o m&oacute;dulo</th>
                                                        <th>Tipo</th>
                                                        <th>Horario</th>
                                                        <th>Aula asignada</th>
                                                        <th>Capacitandos</th>
                                                        <th>Horas semana</th>
                                                        <th>Horas total</th>
                                                        <th>Fecha inicio</th>
                                                        <th>Fecha t&eacute;rmino</th>
                                                        <th>Observaciones</th>
                                                        <th></th>
                                                    </tr>
                                                  </thead>
                                                 <tbody>
                                                    <tr ng-repeat="registroDetalle in vm.registrosCursosPTCs" class="pointer">
                                                        <td>
                                                            <ul>
                                                                <li ng-repeat="instructor in registroDetalle.instructores_propuestos">{{instructor.apellidoPaterno + ' ' + instructor.apellidoMaterno + ' ' + instructor.nombre}}</li>
                                                            </ul>                                                            
                                                        </td>
                                                        <td> {{registroDetalle.detalle_curso.nombreCurso}}</td>
                                                        <td> {{registroDetalle.detalle_curso.modalidad}}</td>
                                                        <td> {{registroDetalle.horario}}</td>
                                                        <td> {{registroDetalle.aulaAsignada}}</td>
                                                        <td> {{registroDetalle.capacitandos}}</td>
                                                        <td> {{registroDetalle.semanas}}</td>
                                                        <td> {{registroDetalle.total}}</td>
                                                        <td> {{registroDetalle.fechaInicio | date:'d/MMMM/yyyy'}}</td>
                                                        <td> {{registroDetalle.fechaFin | date:'d/MMMM/yyyy'}}</td>
                                                        <td> {{registroDetalle.observaciones}}</td>
                                                        <td style="width:135px">                                                               
                                                                <button type="button" ng-show="( (currentUser.unidad_pertenece_id == 1) && ((vm.RegistroPTCSeleccionado.estatus == 1)||(vm.RegistroPTCSeleccionado.estatus == 3)) && (registroDetalle.observacionesRevision.length > 0) )" class="btn btn-white btn-sm" tooltip-placement="top" tooltip="Observaciones hechas: {{registroDetalle.observacionesRevision}}"><i class="fa fa-asterisk"></i></button>
                                                                <button type="button" ng-show="( (currentUser.perfil == 'programas') && (vm.RegistroPTCSeleccionado.revisadoProgramas == false) && (vm.RegistroPTCSeleccionado.estatus == 1) )" ng-click="vm.agregaObserRevision(registroDetalle)" class="btn btn-default btn-sm" tooltip-placement="top" tooltip="Agrega observaciones de revisi&oacute;n a este curso"><i class="fa fa-align-justify"></i></button>
                                                                
                                                        </td>
                                                    </tr>
                                                  </tbody>
                                                </table>

                                                <tabla-paginacion config="vm.tablaListaCursos" paginar="vm.cambiarPaginaDetalle()"></tabla-paginacion>
                                        </div>

                                    </div>
                                </div>

                        </div>
                    </div> <!-- row -->

                </div> <!-- column2 -->

    </div><!-- row principal -->
</div>
