<div class="inmodal">
      <div class="modal-header">
          <h4 class="modal-title"> Observaciones de revisi&oacute;n del curso</h4>
      </div>
      <div class="modal-body" style="background: #fff;">

          <form name="form_datos" class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-12">
                        <textarea class="form-control" ng-model="vm.registroEdicion.observacionesRevision" rows="4" cols="90" required></textarea>
                    </div>
                </div>
          </form>

      </div>
      <div class="modal-footer">
          <button type="button" ng-click="$dismiss()" class="btn btn-white btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-sign-out"></i></span> Cancelar</button>
          <button type="button" ng-click="vm.guardar()" ng-disabled="form_datos.$invalid" class="btn btn-default btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-check"></i></span> Guardar</button>
      </div>
</div>