<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
                <div class="col-md-7">
    
                        <div class="ibox">
                            <div class="ibox-title">
                                <div class="row">
                                        <div class="col-md-6">
                                                <h2>Registro de instructores</h2>
                                        </div>
                                        <div class="col-md-6 text-right" ng-if="(currentUser.perfil == 'programas')">
                                                <div class="mail-tools">
                                                        <button class="btn btn-default btn-labeled" ng-click="vm.nuevo_registro()"><span class="btn-label"><i class="fa fa-plus"></i></span> Agregar nuevo registro</button>
                                                </div>
                                        </div>
                                </div>
                            </div>
                            <div class="ibox-content">
                                
                                <div class="row">                                    

                                    <div class="col-md-{{ (currentUser.unidad_pertenece_id > 1 ? 11 : 7) }}">
                                        <div class="input-group" style="margin-top:16px;">
                                            <input type="text" ng-teclaenter="vm.muestraResultadosBusqueda()" placeholder="Texto a buscar" class="input form-control" ng-model="vm.cadena_buscar">
                                                    <span class="input-group-btn">
                                                            <button class="btn btn-success btn-labeled" ng-click="vm.limpiaBusqueda()" ng-show="vm.mostrarbtnLimpiar"><span class="btn-label"><i class="fa fa-trash-o"></i></span> Limpiar</button>
                                                            <button class="btn btn-default btn-labeled" ng-click="vm.muestraResultadosBusqueda()"><span class="btn-label"><i class="fa fa-search"></i></span> Buscar</button>
                                                    </span>
                                        </div>
                                    </div>
                                    <div class="col-md-{{ (currentUser.unidad_pertenece_id > 1 ? 1 : 5) }}" style="padding-left: 0;">
                                                    <div class="input-group" ng-show="(currentUser.unidad_pertenece_id == 1)" style="margin-top:17px;width: 350px;">
                                                            <label class="col-md-2 control-label" style="margin-top:7px;">Unidad:</label>
                                                            <div class="col-md-9">
                                                                <select class="form-control m-b" ng-model="vm.unidadSeleccionada" ng-change="vm.muestra_ptc_unidad()" ng-options="unidad as unidad.nombre for unidad in vm.listaUnidades"></select>
                                                        </div>
                                                    </div>
                                    </div>
                                </div>
                              
                                <br>
                                        <table class="tablaDatos table table-condensed no-footer">
                                          <thead>
                                            <tr>
                                                <th ng-show="(currentUser.unidad_pertenece_id == 1)">Unidad Registro</th>
                                                <th>Apellido paterno</th>
                                                <th>Apellido materno</th>
                                                <th>Nombre</th>
                                                <th>Escolaridad</th>
                                                <th>Activo</th>
                                            </tr>
                                          </thead>
                                         <tbody>
                                            <tr ng-repeat="registro in vm.registros" ng-click="vm.muestraDatosRegistroActual(registro)" ng-class="{seleccion:$index==vm.tablaListaRegistros.fila_seleccionada}" class="pointer">
                                                <td ng-show="(currentUser.unidad_pertenece_id == 1)"> {{registro.unidad_pertenece.nombre}}</td>
                                                <td> {{registro.apellidoPaterno}}</td>
                                                <td> {{registro.apellidoMaterno}}</td>
                                                <td> {{registro.nombre}}</td>
                                                <td> {{registro.escolaridad}}</td>
                                                <td class="client-status"><span class="label label-{{registro.activo === true ? 'primary' : 'warning'}}">{{registro.activo === true ? 'S&iacute;' : 'No'}}</span></td>
                                            </tr>
                                          </tbody>
                                        </table>

                                        <tabla-paginacion config="vm.tablaListaRegistros" paginar="vm.cambiarPagina()"></tabla-paginacion>

                            </div>
                        </div>
                
                </div> <!-- column1 -->
                <div class="col-md-5">
                    
                    <div class="row">
                        <div class="col-md-12">

                                <div class="ibox">
                                    <div class="ibox-content" style="height:730px;">
                                        <div class="tab-content">
                                            <div class="tab-pane active" ng-show="vm.client == 1" ng-init="vm.client = 1">
                                                        <div class="row">
                                                            <div class="col-lg-12 text-center">
                                                                <p>
                                                                    <h2>Seleccione un registro para ver los detalles</h2>
                                                                </p>
                                                            </div>
                                                        </div>
                                            </div>
                                            <div class="tab-pane active" ng-show="vm.client == 2">
                                                        <div class="panel blank-panel">
                                                                <tabset>
                                                                    <tab heading="Datos grales.">

                                                                            <ul class="list-group clear-list">
                                                                                <li class="list-group-item fist-item">
                                                                                    <span class="pull-right"> {{vm.RegistroSeleccionado.apellidoPaterno}} </span>
                                                                                    Ap. Paterno
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.RegistroSeleccionado.apellidoMaterno}} </span>
                                                                                    Ap. Materno
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.RegistroSeleccionado.nombre}} </span>
                                                                                    Nombre(s)
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.RegistroSeleccionado.curp}} </span>
                                                                                    CURP
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.RegistroSeleccionado.rfc}} </span>
                                                                                    RFC
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right label label-{{vm.RegistroSeleccionado.conPerfilAcademico === true ? 'primary' : 'warning'}}">{{vm.RegistroSeleccionado.conPerfilAcademico === true ? 'S&iacute;' : 'No'}}</span>
                                                                                    Cuenta con perfil acad&eacute;mico
                                                                                </li>
                                                                                <li class="list-group-item" style="height: 90px">
                                                                                    <span style="width: 300px;text-align: right;" class="pull-right"> {{vm.RegistroSeleccionado.escolaridad}} </span>
                                                                                    Escolaridad
                                                                                </li>
                                                                                <li class="list-group-item" style="height: 60px">
                                                                                    <span style="width: 300px;text-align: right;" class="pull-right"> {{vm.RegistroSeleccionado.certificacion}} </span>
                                                                                    Certificaciones
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.RegistroSeleccionado.telefono}} </span>
                                                                                    Tel&eacute;fono
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.RegistroSeleccionado.email}} </span>
                                                                                    E-mail
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.RegistroSeleccionado.telefono}} </span>
                                                                                    Telefono
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right"> {{vm.RegistroSeleccionado.localidad_pertenece.nombre}} </span>
                                                                                    Localidad
                                                                                </li>
                                                                                <li class="list-group-item">
                                                                                    <span class="pull-right label label-{{vm.RegistroSeleccionado.activo === true ? 'primary' : 'warning'}}">{{vm.RegistroSeleccionado.activo === true ? 'S&iacute;' : 'No'}}</span>
                                                                                    Activo
                                                                                </li>
                                                                            </ul>
                                                                    </tab>

                                                                    <tab heading="Cursos habilitados">

                                                                                    <div class="tab-pane active" ng-show="vm.RegistroSeleccionado.evaluacion_curso.length == 0">
                                                                                        <div class="row" style="width:100%;height:585px">
                                                                                            <div class="col-lg-12 text-center">
                                                                                                <p>
                                                                                                    <h2>No hay cursos habilitados</h2>
                                                                                                </p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="tab-pane active" ng-show="vm.RegistroSeleccionado.evaluacion_curso.length > 0">
                                                            
                                                                                        <table class="tablaDatos table table-condensed no-footer">
                                                                                          <thead>
                                                                                            <col width="70%">
                                                                                            <col width="10%">
                                                                                            <col width="10%">
                                                                                            <col width="10%">
                                                                                            <tr>
                                                                                                <th>Curso</th>
                                                                                                <th>Modalidad</th>
                                                                                                <th>Horas</th>
                                                                                                <th>Puntaje</th>
                                                                                            </tr>
                                                                                          </thead>
                                                                                        </table>

                                                                                        <div style="width:100%;height:549px">
                                                                                            <!-- <div class="full-height-scroll" full-scroll> -->
                                                                                                <table class="table table-striped">
                                                                                                    <thead>
                                                                                                      <col width="70%">
                                                                                                      <col width="10%">
                                                                                                      <col width="10%">
                                                                                                      <col width="10%">
                                                                                                    </thead>
                                                                                                    <tbody>
                                                                                                    <tr ng-repeat="curso in vm.RegistroSeleccionado.evaluacion_curso | orderObjectBy: 'CatalogoCursos.nombreCurso' ">
                                                                                                        <td> {{curso.CatalogoCursos.nombreCurso}}</td>
                                                                                                        <td> {{curso.CatalogoCursos.modalidad}}</td>
                                                                                                        <td> {{curso.CatalogoCursos.numeroHoras}}</td>
                                                                                                        <td> {{curso.calificacion}}</td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            <!-- </div> -->
                                                                                        </div>
                                                                                    </div> <!-- client == 2 -->
                                                                                
                                                                    </tab>

                                                                    <tab heading="Unidades asig.">

                                                                                    <div class="tab-pane active">
                                                            
                                                                                        <table class="tablaDatos table table-condensed no-footer">
                                                                                          <thead>
                                                                                              <col width="10%">
                                                                                              <col width="90%">
                                                                                            <tr>
                                                                                                <th>N&uacute;m.</th>
                                                                                                <th>Unidad</th>
                                                                                            </tr>
                                                                                          </thead>
                                                                                        </table>

                                                                                        <div style="width:100%;height:549px">
                                                                                            <!-- <div class="full-height-scroll" full-scroll> -->
                                                                                                <table class="table table-striped">
                                                                                                    <thead>
                                                                                                      <col width="10%">
                                                                                                      <col width="90%">
                                                                                                    </thead>
                                                                                                    <tbody>
                                                                                                    <tr ng-repeat="unidad in vm.RegistroSeleccionado.otras_unidades">
                                                                                                        <td> {{$index + 1}}</td>
                                                                                                        <td> {{unidad.nombre}}</td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            <!-- </div> -->
                                                                                        </div>
                                                                                    </div> <!-- client == 2 -->
                                                                                
                                                                    </tab>
                                                                    <tab heading="Documentos">

                                                                                    <div class="tab-pane active">
                                                            
                                                                                        <table class="tablaDatos table table-condensed no-footer">
                                                                                          <thead>
                                                                                              <col width="2%">
                                                                                              <col width="96%">
                                                                                              <col width="2%">
                                                                                            <tr>
                                                                                                <th>N&uacute;m.</th>
                                                                                                <th>Documento</th>
                                                                                                <th></th>
                                                                                            </tr>
                                                                                          </thead>
                                                                                        </table>

                                                                                        <div style="width:100%;height:549px">
                                                                                            <div class="full-height-scroll" full-scroll>
                                                                                                <table class="table table-striped">
                                                                                                    <thead>
                                                                                                      <col width="10%">
                                                                                                      <col width="90%">
                                                                                                      <col width="2%">
                                                                                                    </thead>
                                                                                                    <tbody>
                                                                                                    <tr ng-repeat="doc in vm.RegistroSeleccionado.documentos">
                                                                                                        <td> {{$index + 1}}</td>
                                                                                                        <td> <img ng-src="assets/img/{{(doc.tipoArchivo == 'application/pdf' ? 'pdf.png' : 'picture.png')}}" alt=""> {{doc.documento}}</td>
                                                                                                        <td> <button type="button" class="btn btn-default btn-sm" tooltip-placement="top" tooltip="Ver documento" ng-click="vm.abreDocumento(doc)"><i class="fa fa-eye"></i></button> </td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div> <!-- client == 2 -->
                                                                                
                                                                    </tab>
                                                                </tabset>
                                                                <br>
                                                                <div class="row" ng-if="(currentUser.perfil == 'programas')">
                                                                    <div class="col-md-12 text-center">
                                                                                <div class="col-md-6">
                                                                                    <button type="button" ng-click="vm.edita_datos_registro(vm.RegistroSeleccionado)" class="btn btn-default btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-pencil"></i></span> Editar registro</button>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <button type="button" ng-click="vm.elimina_registro(vm.RegistroSeleccionado)" class="btn btn-danger btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-trash-o"></i></span> Eliminar registro</button>
                                                                                </div>
                                                                    </div>
                                                                </div>
                                                        </div> <!--panel blank-panel-->
                          
                                            </div> <!-- client == 2 -->
                                        </div>
                                    </div>
                                </div> <!-- class ibox -->
                                

                        </div>
                    </div> <!-- row -->

                </div> <!-- column2 -->

    </div><!-- row principal -->
</div>
